﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">




</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top" ng-app="myApp">
  <!-- Navigation-->
  
  <div class="content-wrapper">
      <div class="container-fluid">
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
              <li class="breadcrumb-item">
                  <a href="#">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">Charts</li>
          </ol>

          <!-- Analysis Chart Example-->

          <h1>Job By Month</h1>
          <div ng-controller="barjob">
              <canvas id="bar" class="chart chart-bar"
                      chart-data="data" chart-labels="labels" chart-options="options"></canvas>
          </div>
          <br />
          <br />
          <div ng-controller="piesex">
              <div>
                  You want to make comparison in:
                  <select ng-model="selectedOption">
                      <option ng-repeat="x in op" value="{{x}}">{{x}}</option>
                  </select>
                  <br />

                  <!--Fitst option bar chart-->
                  <button ng-click="Getlabel1()">Show General</button>
                  <br />
                  <div>
                      <canvas id="bar1" class="chart chart-bar" chart-data="data1" chart-labels="label1" chart-options="options"></canvas>
                  </div>
                  <br />

                  <p>{{selectedOption}} 1:</p>
                  <div>
                      <input type="text" name="country" id="country" ng-model="country" ng-keyup="complete(country)" class="form-control" />
                      <ul class="list-group">
                          <li class="list-group-item" ng-repeat="countrydata in filterCountry" ng-click="fillTextbox(countrydata)">{{countrydata}}</li>
                      </ul>
                  </div>

                  <br />
                  <p>{{selectedOption}} 2:</p>
                  <div>
                      <input type="text" name="country2" id="country2" ng-model="country2" ng-keyup="complete2(country2)" class="form-control" />
                      <ul class="list-group">
                          <li class="list-group-item" ng-repeat="countrydata2 in filterCountry2" ng-click="fillTextbox2(countrydata2)">{{countrydata2}}</li>
                      </ul>
                  </div>
                  <br />

                  <h1>
                      Jobs In {{country}} and {{country2}}
                      <button ng-click="ccompare()">Compare</button>
                  </h1>
                  <canvas id="pie" class="chart chart-pie"
                          chart-data="data" chart-labels="labels"></canvas>
              </div>
          </div>

          <!--Chart part-->

          <br />
          <h1>Clicks on Company</h1>
          <div ng-controller="clicks">
              <canvas id="bar3" class="chart chart-bar"
                      chart-data="data3" chart-labels="label3"  chart-options="options"></canvas>
          </div>


      </div>
      <!-- /.container-fluid-->
      <!-- /.content-wrapper-->
      <footer class="sticky-footer">
          <div class="container">
              <div class="text-center">
                  <small>Copyright © Your Website 2018</small>
              </div>
          </div>
      </footer>
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
          <i class="fa fa-angle-up"></i>
      </a>
      <!-- Logout Modal-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                      </button>
                  </div>
                  <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                  <div class="modal-footer">
                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                      <a class="btn btn-primary" href="login.html">Logout</a>
                  </div>
              </div>
          </div>
      </div>
      <!-- Bootstrap core JavaScript-->




      <script src="Scripts/angular.min.js"></script>
      <script src="Scripts/Chart.min.js"></script>
      <script src="Scripts/angular-chart.min.js"></script>

      <script src="js/analysis.js"></script>





  </div>
</body>

</html>
