﻿<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet">

    <script src="../Scripts/angular.js"></script>
    <script src="../js/main.js"></script>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->

    
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Company</a>
                </li>
                <li class="breadcrumb-item active">Companies</li>
            </ol>
            <!-- Example DataTables Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Companies
                </div>
                <div class="card-body" >
                    <div class="table-responsive" ng-controller="ListCompanyController">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>ID</th>
                                    <th>Company Name</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Country</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Index</th>
                                    <th>ID</th>
                                    <th>Company Name</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Country</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                            <tbody >
                                <tr ng-repeat="company in company" ng-class="{'selected':$index == selectedRow}">
                                    <td>
                                        {{$index}}
                                    </td>
                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="TaskId1">{{company.CompanyID}}</span>
                                        <span data-ng-show="editMode" data-ng-model="TaskId2">{{company.CompanyID}}</span>
                                    </td>
                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="TaskId1">{{company.CompanyName}}</span>
                                        <span data-ng-show="editMode" data-ng-model="TaskId2">{{company.CompanyName}}</span>
                                    </td>
                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="TaskId1">{{company.Address}}</span>
                                        <span data-ng-show="editMode" data-ng-model="TaskId2">{{company.Address}}</span>
                                    </td>
                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="TaskId1">{{company.City}}</span>
                                        <span data-ng-show="editMode" data-ng-model="TaskId2">{{company.City}}</span>
                                    </td>

                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="TaskId1">{{company.State}}</span>
                                        <span data-ng-show="editMode" data-ng-model="TaskId2">{{company.State}}</span>
                                    </td>

                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="TaskId1">{{company.Country}}</span>
                                        <span data-ng-show="editMode" data-ng-model="TaskId2">{{company.Country}}</span>
                                    </td>
                                    <td ><button type="button" ng-click="viewCompany(company.CompanyID)" data-toggle="modal" data-target="#myModal" class="btn btn-default">View Company</button></td>

                                </tr>
                                
</tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Company Details</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" >
                        <p><b>Company Name:</b> {{CompanyName}} </p>
                        <p><b>Email: </b>{{Address}} </p>
                        <p><b>Address: </b>{{Address}} </p>
                        <p><b>City: </b>{{City}} </p>
                        <p><b>State: </b>{{State}} </p>
                        <p><b>Country: </b>{{Country}} </p>
                        <p><b>Phone: </b>{{Phone}} </p>
                        <p><b>Website: </b>{{Website}} </p>
                        <p><b>Company Type: </b>{{CompanyType}} </p>
                        <p><b>Company Sector: </b>{{CompanySector}} </p>
                        <p><b>Company Contact Name: </b>{{CompanyContactName}} </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        
        <!-- Bootstrap core JavaScript-->
        <script src="../vendor/jquery/jquery.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="../vendor/datatables/jquery.dataTables.js"></script>
        <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="../js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="../js/sb-admin-datatables.min.js"></script>
    </div>
</body>
</html>
