﻿<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet">

    <script src="../Scripts/angular.js"></script>
    <script src="../js/jobs.js"></script>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->


    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Jobs</a>
                </li>
                <li class="breadcrumb-item active">Create New Job</li>
            </ol>
            <!-- Example DataTables Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Create New Job
                </div>
                <div class="card-body">

                    <form name="form" g-submit="submitForm(Form.$valid)" ng-submit="submit(form.$valid)" ng-controller="createJob">
                        <div class="form-group">
                            <label>Job Name</label>
                            <input class="form-control" id="JobName" data-ng-model="job.JobName" type="text" placeholder="Job Name" value="" required>
                        </div>

                        <div class="form-group">
                            <label>Job Description</label>
                            <textarea id="JobDescription" data-ng-model="job.JobDescription" class="form-control" rows="5" placeholder="Job Description" ng-required="true" required></textarea>
                        </div>

                        <div class="form-group">
                            <label>Job Address</label>
                            <input class="form-control" id="JobAddress" data-ng-model="job.JobAddress" type="text" placeholder="Job Address" value="" required>
                        </div>


                        <div class="form-group">
                            <label>Job City</label>
                            <input class="form-control" id="City" data-ng-model="job.City" type="text" placeholder="Job City" value="" required>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6" ng-controller="ListCountriesController">
                                    <label>Country</label>
                                    <select class="form-control" data-ng-model="job.SelectedCountry" ng-options="c.CountryID as c.Country1 for c in country" ng-change="viewState(job.SelectedCountry)" required>
                                        <option value=''>--Select Country--</option>
                                    </select>
                                </div>
                                <div class="col-md-6" ng-controller="ListCountriesController">
                                    <label>State</label>
                                    <select class="form-control" data-ng-model="job.SelectedState" ng-options="s.StateID as s.State1 for s in state" required>
                                        <option value=''>--Select State--</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Days Sponsored</label>
                            <input class="form-control" id="DaysSponsored" data-ng-model="job.DaysSponsored" type="number" placeholder="Days Sponsored" value="" required>
                        </div>

                        
                        <input class="btn btn-primary btn-block" type="submit" id="submit" value="Submit" />
                    </form>
                </div>
            </div>


        </div>

        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <!-- Bootstrap core JavaScript-->
        <script src="../vendor/jquery/jquery.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="../vendor/datatables/jquery.dataTables.js"></script>
        <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="../js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="../js/sb-admin-datatables.min.js"></script>
    </div>
</body>
</html>
