﻿<!DOCTYPE html>
<html>
<head>
    <script src="Scripts/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap core CSS-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet">
    <link href="../css/mdJobs.css" rel="stylesheet">
    <script src="../Scripts/angular.js"></script>

    <script src="Scripts/Chart.min.js"></script>
    <script src="Scripts/angular-chart.min.js"></script>
    <script src="js/mdJobs.js"></script>

    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../vendor/datatables/jquery.dataTables.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="../js/sb-admin-datatables.min.js"></script>

    <meta charset="utf-8" />
    <title></title>
    <script>

    </script>
</head>
<body ng-app="myApp" ng-controller="TaskCtrl">

    <div class="border d-table w-100" style="padding-top:2em;padding-right:2em;">
        <p class="d-table-cell"></p>
        <div class="d-table-cell tar">
            <button class="btn btn-primary btn-lg pull-right" data-target="#PostJobModal" data-toggle="modal">Post Job</button>

        </div>
    </div>
    <div>
        <h1 style="position:center">All Jobs</h1>
        <hr />
    </div>
    <!--#############################################POPUP MENU FOR POSTING JOB############################################################################-->
    <div class="modal" id="PostJobModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Close</h4>
                    <button class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="input UserName">Job Name</label>
                            <input class="form-control" ng-model="RMS.JobName" placeholder="Job Name" id="inputJobName" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="input UserName">Job Description</label>
                            <input class="form-control" ng-model="RMS.JobDescription" placeholder="Job Description" id="inputJobDescription" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="input UserName">Company ID</label>
                            <input class="form-control" ng-model="RMS.CompanyID" placeholder="Company ID" id="inputCompanyID" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="input UserName">Date Created</label>
                            <input class="form-control" ng-model="RMS.DateCreated" placeholder="Date Created" id="inputDateCreated" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="input UserName">Status</label>
                            <input class="form-control" ng-model="RMS.Status" placeholder="Status" id="inputStatus" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="input UserName">Address</label>
                            <input class="form-control" ng-model="RMS.Address" placeholder="Address" id="inputAddress" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="input UserName">City</label>
                            <input class="form-control" ng-model="RMS.City" placeholder="City Name" id="inputCity" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="input UserName">State ID</label>
                            <input class="form-control" ng-model="RMS.StateID" placeholder="State ID" id="inputStateID" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="input UserName">Country ID</label>
                            <input class="form-control" ng-model="RMS.CountryID" placeholder="Country ID" id="inputCountryID" type="text" />
                        </div>
                        <div class="form-group">
                            <label for="input UserName">Days Sponsored</label>
                            <input class="form-control" ng-model="RMS.DaysSponsered" placeholder="Days Sponsored" id="inputDaysSponsored" type="text" />
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <input type="button" data-dismiss="modal" class="btn btn-primary" ng-click="CreateJob(RMS)" value="ADD" />
                    <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <!--#############################################POPUP MENU FOR VIEW############################################################################-->
    <div class="modal" id="viewModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Closes</h4>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="input vJobName">Job Name</label>
                            <input class="form-control" ng-model="vJobName" placeholder="Job Name" id="inputJobName" type="text" />
                            <label for="input UserName">Job Description</label>
                            <input class="form-control" ng-model="vJobDescription" placeholder="Description" id="inputvJobDescription" type="text" />
                            <label for="input UserName">Address</label>
                            <input class="form-control" ng-model="vAddress" placeholder="Address" id="inputvAddress" type="text" />
                            <label for="input UserName">City</label>
                            <input class="form-control" ng-model="vCity" placeholder="City" id="inputvCity" type="text" />
                            <label for="input UserName">State</label>
                            <input class="form-control" ng-model="vStateID" placeholder="State ID" id="inputvStateID" type="text" />
                            <label for="input UserName">Country</label>
                            <input class="form-control" ng-model="vCountryID" placeholder="Country" id="inputvCountryID" type="text" />
                            <p><b>Job Description:</b> {{vJobDescription}} </p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <!--###############################   Get Table Jobs from database ############################################################################-->
    <div>
        <table border="1">
            <tr>

                <th style="width:200px">DateCreated</th>
                <th style="width:200px">JobName</th>
                <th style="width:80px">Viewed</th>
                <th style="width:80px">View Job</th>
                <th style="width:80px">Operation</th>
                <!--<th style="width:100px">JobID</th>
                <th style="width:150px">JobName</th>
                <th style="width:150px">JobDescription</th>
                <th style="width:150px">CompanyID</th>
                <th style="width:150px">DateCreated</th>
                <th style="width:150px">Status</th>
                <th style="width:150px">Address</th>
                <th style="width:150px">City</th>
                <th style="width:150px">State</th>
                <th style="width:150px">Country</th>-->
            </tr>
            <tr ng-repeat="job in RMS">

                <td height="50px">
                    <span ng-style="set_color(job.DateCreated)" ng-hide="job.EditMode">{{job.DateCreated}}</span>
                    <input type="text" ng-model="job.DateCreated" ng-show="job.EditMode" />
                </td>
                <td>
                    <span ng-hide="job.EditMode">{{job.JobName}}</span>
                    <input type="text" ng-model="job.JobName" ng-show="job.EditMode" />
                </td>
                <td>
                    <span ng-hide="job.EditMode">{{job.Clicks}}</span>
                    <input type="text" ng-model="job.Clicks" ng-show="job.EditMode" />
                </td>
                <td>
                    <span ng-hide="job.EditMode">{{job.Address}}</span>
                    <input type="text" ng-model="job.Address" ng-show="job.EditMode" />
                </td>
                <!--<td>
                    <span ng-hide="job.EditMode">{{job.JobID}}</span>
                    <input type="text" ng-model="job.JobID" ng-show="job.EditMode" />
                </td>

                <td>
                    <span ng-hide="job.EditMode">{{job.JobDescription}}</span>
                    <input type="text" ng-model="job.JobDescription" ng-show="job.EditMode" />
                </td>
                <td>
                    <span ng-hide="job.EditMode">{{job.CompanyID}}</span>
                    <input type="text" ng-model="job.CompanyID" ng-show="job.EditMode" />
                </td>

                <td>
                    <span ng-hide="job.EditMode">{{job.Status}}</span>
                    <input type="text" ng-model="job.Status" ng-show="job.EditMode" />
                </td>
                <td>
                    <span ng-hide="job.EditMode">{{job.Address}}</span>
                    <input type="text" ng-model="job.Address" ng-show="job.EditMode" />
                </td>
                <td>
                    <span ng-hide="job.EditMode">{{job.City}}</span>
                    <input type="text" ng-model="job.City" ng-show="job.EditMode" />
                </td>
                <td>
                    <span ng-hide="job.EditMode">{{job.StateID}}</span>
                    <input type="text" ng-model="job.StateID" ng-show="job.EditMode" />
                </td>
                <td>

                    <span ng-hide="job.EditMode">{{job.CountryID}}</span>
                    <input type="text" ng-model="job.CountryID" ng-show="job.EditMode" />
                </td>-->
                <td><button class="btn btn-primary btn-default" type="button" ng-click="viewJb(job.JobID,job.JobName,job.JobDescription,job.CompanyID,job.DateCreated,job.Status,job.Address,job.City,job.StateID,job.CountryID,job.DaysSponsered,job.Clicks,$index)" data-toggle="modal" data-target="#viewModal">View Job</button></td>
                <td>
                    <a class="Edit" href="javascript:;" ng-hide="job.EditMode" ng-click="Edit($index)">Edit</a>
                    <a class="Update" href="javascript:;" ng-show="job.EditMode" ng-click="Update($index)">Update</a>
                    <a class="Cancel" href="javascript:;" ng-show="job.EditMode" ng-click="Cancel($index)">Cancel</a>
                    <a href="javascript:;" ng-hide="item.EditMode" ng-click="fnDelete(job.JobID)">Delete</a>
                <td />

            </tr>
        </table>
    </div>

</body>
</html>