﻿<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet">

    <script src="../Scripts/angular.js"></script>
    <script src="../js/jobs.js"></script>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->

    
    <div class="content-wrapper">
        
        <div class="container-fluid">

            
            <!-- Breadcrumbs-->
            <ol class="breadcrumb" id="Profile">
                <li class="breadcrumb-item">
                    <a href="#">Company</a>
                </li>
                <li class="breadcrumb-item active">Edit Company</li>
            </ol>
            <!-- Example DataTables Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Edit Company
                </div>
                <div class="card-body" ng-controller="CompanyDataController">
                    
                    <form name="form" g-submit="submitForm(Form.$valid)" ng-controller="updateCompany" ng-submit="submit(form.$valid)" >

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label>Company Name</label>
                                        <input class="form-control" id="CompanyName" data-ng-model="company.CompanyName" type="text" placeholder="Company Name" value="{{CompanyName}}" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Address</label>
                                        <input class="form-control" id="Address" data-ng-model="company.Address" type="text" placeholder="Address" value="{{Address}}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Company Description</label>
                                <textarea id="CompanyDescription" data-ng-model="company.CompanyDescription" class="form-control" rows="5" placeholder="Company Description" ng-required="true" required>{{CompanyDescription}}</textarea>
                            </div>


                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                        <input class="form-control" id="Email" data-ng-model="company.Email" type="email" placeholder="Email" value="{{Email}}" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label>City</label>
                                        <input class="form-control" id="City" data-ng-model="company.City" type="text" placeholder="City" value="{{City}}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6" ng-controller="ListCountriesController">
                                        <label>Country</label>
                                        <select class="form-control" data-ng-model="company.SelectedCountry" ng-options="c.CountryID as c.Country1 for c in country" ng-change="viewState(company.SelectedCountry)" required>
                                            <option value=''>--Select Country--</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6" ng-controller="ListCountriesController">
                                        <label>State</label>
                                        <select class="form-control" data-ng-model="company.SelectedState" ng-options="s.StateID as s.State1 for s in state" required>
                                            <option value=''>--Select State--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6" ng-controller="ListCountriesController">
                                        <label>Phone</label>
                                        <input class="form-control" id="Phone" data-ng-model="company.Phone" type="tel" placeholder="Phone" value="{{Phone}}" required>
                                    </div>
                                    <div class="col-md-6" ng-controller="ListCountriesController">
                                        <label>Website</label>
                                        <input class="form-control" id="Website" data-ng-model="company.Website" type="url" placeholder="Website" value="{{Website}}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6" ng-controller="ListCompanyTypesController">
                                        <label>Company Type</label>
                                        <select class="form-control" data-ng-model="company.SelectedCompanyType" ng-options="companyTypes.CompanyTypeID as companyTypes.CompanyType1 for companyTypes in ct" ng-change="viewCompanySector(company.SelectedCompanyType)" required>
                                            <option value=''>--Select Company Type--</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6" ng-controller="ListCountriesController">
                                        <label>Company Sector</label>
                                        <select class="form-control" data-ng-model="company.SelectedSector" ng-options="st.CompanySectorID as st.CompanySector1 for st in sector" required>
                                            <option value=''>--Select Company Sector--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label>CompanyContactName</label>
                                        <input class="form-control" id="CompanyContactName" data-ng-model="company.CompanyContactName" type="text" placeholder="CompanyContactName" value="{{CompanyContactName}}" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Username</label>
                                        <input class="form-control" id="Username" data-ng-model="company.Username" type="text" placeholder="Username" value="{{Username}}" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label>Password</label>
                                        <input class="form-control" id="Password" data-ng-model="company.Password" type="password" placeholder="Password" value="{{Password}}" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Confirm Password</label>
                                        <input class="form-control" id="Password2" data-ng-model="company.Password" type="password" placeholder="Confirm Password" value="{{Password}}" required>
                                    </div>
                                </div>
                            </div>


                            
                            <input class="btn btn-primary btn-block" type="submit" id="submit" value="Submit" />
                        </form>
                </div>
            </div>

        
        </div>

        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <!-- Bootstrap core JavaScript-->
        <script src="../vendor/jquery/jquery.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="../vendor/datatables/jquery.dataTables.js"></script>
        <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="../js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="../js/sb-admin-datatables.min.js"></script>
    </div>
</body>
</html>
