﻿<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet">

    <script src="../Scripts/angular.js"></script>
    <script src="../js/jobs.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->

    <div style="background-color:honeydew" class="content-wrapper" ng-controller="ListJobsController">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Jobs</a>
                </li>
                <li class="breadcrumb-item active">Jobs and Recruitment</li>
            </ol>
            <!-- Example DataTables Card-->
            <div style="background-color:honeydew" class="card mb-3">

                <div class="card-body">
                   
                    
                    

                    <div style="font-size:medium; background-color:aliceblue">
                        Manage jobs  <a href="#/jobs"><b>Check All Jobs!</b></a>
                    </div>
                    <div style="padding-top:20px; background-color:aliceblue">
                        <form>
                            <div class="form-group">
                                <input type="text" id="FindJob" placeholder="Find a Job" style=" margin-right:15px;" ng-model="searchText.JobName" />
                                Select By City:<select id="city" ng-model="selected" style=" margin-right:15px;">
                                    <option value="">Select City </option>
                                    <option ng-repeat="x in op track by $index" value="{{x}}"> {{x}}  </option>
                                </select>
                                Select By State:<select id="state" ng-model="selected1" style=" margin-right:15px;">
                                    <option value="">Select City </option>
                                    <option ng-repeat="x in stlist track by $index" value="{{x}}">{{x}}</option>
                                </select>
                                <input type="reset" value="Reset" id="submit" ng-click="clear()" onclick="window.location.reload(true);" />
                            </div>
                        </form>
                    </div>
                    raju:
                    <form id="myForm">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-columns">
                                    <!-- Example Social Card-->
                                    <div class="card mb-3" style="border:none;">
                                        <div class="card-body">
                                            <div style="width:40%; float:left;">
                                                Sponsered Job
                                            </div>
                                            <div style="width:40%; float:right;">
                                                Sort: <Select ng-model="sortColumn1">
                                                    <option value="">Select Option</option>
                                                    <option value="-DateCreated2">Newest First</option>
                                                    <option value="DateCreated2">Oldest First</option>
                                                </Select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card mb-3">

                                        <table class="card mb-3" style="background-color:cornsilk">
                                            <tr>
                                                <th>
                                                    Job Name
                                                </th>
                                                <th style="text-align :right;">
                                                    DaysSponsered
                                                </th>
                                            </tr>


                                            <tr ng-repeat="jobs in jobs | orderBy : sortColumn1 | filter:searchText | filter:selected | filter:selected1 " ng-if="jobs.DaysSponsered > 0">
                                                <td style="text-align:left ">
                                                    {{jobs.JobName}}
                                                </td>
                                                <td style="text-align:center">
                                                    {{jobs.DaysSponsered}}
                                                </td>

                                            </tr>
                                        </table>


                                    </div>
                                    <div class="card mb-3" style="border:none;">
                                        <div class="card-body">
                                            <div style="width:40%; float:left;">
                                                Remaining Job
                                            </div>
                                            <div style="width:40%; float:right;">
                                                Sort: <Select ng-model="sortColumn2">
                                                    <option value="">Select Option</option>
                                                    <option value="-DateCreated2">Newest First</option>
                                                    <option value="DateCreated2">Oldest First</option>
                                                </Select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-3">
                                        <table class="card mb-3" ; style=" background-color:burlywood;">
                                            <tr>

                                                <th style="width:220px; float:left;">
                                                    <span>Jobs</span>
                                                </th>
                                                <th style="width:220px; float:left; text-align:left;">
                                                    <span>Posted Date</span>
                                                </th>


                                            </tr>

                                            <tr ng-repeat="jobs in jobs | orderBy:sortColumn2" ng-if="jobs.DaysSponsered < 1 ">
                                                <td style="width:220px; float:left; text-align:left;">

                                                    {{jobs.JobName}}
                                                </td>
                                                <td style="width:220px; float:right; text-align:left;">
                                                    {{jobs.DateCreated2 | date:"dd/MM/yyyy"}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Your Website 2018</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="js/sb-admin-datatables.min.js"></script>

</body>

</html>
