﻿<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet">

    <script src="../Scripts/angular.js"></script>
    <script src="../js/jobs.js"></script>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top" ng-controller="ListJobsController">
    <!-- Navigation-->


    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Jobs</a>
                </li>
                <li class="breadcrumb-item active">Posted Jobs</li>
            </ol>
            <!-- Example DataTables Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Posted Jobs
                </div>
                <div class="card-body">
                    <div class="table-responsive" ng-controller="ListJobsController">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Job Name</th>
                                    <!--<th>Description</th>-->
                                    <th>Company</th>
                                    <th>Expiration Date</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>Days Sponsored</th>
                                    <th>Viewed</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Job Name</th>
                                    <!--<th>Description</th>-->
                                    <th>Company</th>
                                    <th>Expiration Date</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>Days Sponsored</th>
                                    <th>Viewed</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr ng-repeat="jobsX in jobsX" ng-class="{'selected':$index == selectedRow}">
                                    <td>
                                        {{$index+1}}
                                    </td>
                                    
                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="JobName">{{jobsX.JobName}}</span>
                                        <input class="form-control" type="text" data-ng-show="editMode" data-ng-model="jobsX.JobName" data-ng-required />
                                    </td>
                                    <!--<td>
                                        <span data-ng-hide="editMode" data-ng-model="JobDescription">{{jobsX.JobDescription}}</span>
                                        <textarea data-ng-model="jobsX.JobDescription" data-ng-show="editMode" class="form-control" data-ng-required required></textarea>
                                    </td>-->
                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="Company">{{jobsX.Company}}</span>
                                        <span data-ng-show="editMode" data-ng-model="Company">{{jobsX.Company}}</span>
                                    </td>

                                    <td>
                                        <span data-ng-hide="editMode" ng-style="set_color(jobsX.DateCreated2)" data-ng-model="DateCreated">{{jobsX.DateCreated2}}</span>
                                        <!--<span data-ng-show="editMode" data-ng-model="DateCreated">{{jobsX.DateCreated2}}</span>-->
                                        <!--<input type="text" ng-model="jobsX.DateCreated2" ng-show="jobsX.EditMode" />-->

                                        <input class="form-control" type="text" data-ng-show="editMode" data-ng-model="jobsX.DateCreated2" data-ng-required />

                                    </td>

                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="Address">{{jobsX.Address}}</span>
                                        <input class="form-control" type="text" data-ng-show="editMode" data-ng-model="jobsX.Address" data-ng-required />
                                    </td>

                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="City">{{jobsX.City}}</span>
                                        <input class="form-control" type="text" data-ng-show="editMode" data-ng-model="jobsX.City" data-ng-required />
                                    </td>

                                    <td>
                                        <span data-ng-model="Country">{{jobsX.Country}}</span>
                                        <!--select ng-controller="ListCountriesController" data-ng-show="editMode" class="form-control" data-ng-model="jobs.CountryID" ng-options="c.CountryID as c.Country1 for c in country" ng-change="viewState(jobs.CountryID)" required>
                                            <option value=''>--Select Country--</option>
                                        </select-->

                                    </td>

                                    <td>
                                        <span data-ng-model="Country">{{jobsX.State}}</span>
                                        <!--select ng-controller="ListJobsController" class="form-control" data-ng-show="editMode" data-ng-model="jobs.StateID" ng-options="s.StateID as s.State1 for s in state" required>
                                            <option value=''>--Select State--</option>
                                        </select-->
                                    </td>

                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="DaysSponsored">{{jobsX.DaysSponsered}}</span>
                                        <input class="form-control" type="number" data-ng-show="editMode" data-ng-model="jobsX.DaysSponsered" data-ng-required />
                                    </td>

                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="Viewed">{{jobsX.Clicks}}</span>
                                        <span data-ng-show="editMode" data-ng-model="Viewed">{{jobsX.Clicks}}</span>
                                    </td>
                                     
                                    <td>
                                        <button type="button" ng-click="viewJob(jobsX.JobID)" data-toggle="modal" data-target="#myModal" class="btn btn-default">View Job</button>
                                        <br /><br />
                                        <button type="submit" data-ng-hide="editMode" data-ng-click="editMode = true; editAppKey(entry)" class="btn btn-default">Edit</button>
                                        <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; updateJob($index)" class="btn btn-default">Save</button>
                                        <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; cancel()" class="btn btn-default">Cancel</button>
                                        <br /><br />
                                        <button type="button" ng-click="deleteJob(jobsX.JobID, jobsX.JobName)" class="btn btn-default">Delete Job</button>
                                    </td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted"></div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Job Details</h4>
                    </div>
                    <div class="modal-body">
                        <p><b>Job Name:</b> {{JobName}} </p>
                        <p><b>Job Description: </b>{{JobDescription}} </p>
                        <p><b>Company: </b>{{Company}} </p>
                        <p><b>Date Posted: </b>{{DateCreated}} </p>
                        <p><b>Address: </b>{{Address}} </p>
                        <p><b>City: </b>{{City}} </p>
                        <p><b>Country: </b>{{Country}} </p>
                        <p><b>Country: </b>{{State}} </p>
                    </div>
                    <div class="modal-footer" >
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <!-- Bootstrap core JavaScript-->
        <script src="../vendor/jquery/jquery.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="../vendor/datatables/jquery.dataTables.js"></script>
        <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="../js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="../js/sb-admin-datatables.min.js"></script>
    </div>
</body>
</html>
