﻿<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
    <script src="Scripts/angular.js"></script>
    <script src="js/loginComp.js"></script>



    <style>
        .ng-invalid {
            border-color: red;
            outline-color: red;
        }

        .ng-valid {
            border-color: green;
            outline-color: green;
        }
    </style>
</head>

<body class="bg-dark" >
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Register as Company</div>
            <div class="card-body">
                <form ng-controller="saveCompanyLogin" ng-submit="submit(CompanyForm.$valid)"  name="CompanyForm" >
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputName">Company Name</label>
                            <input class="form-control" id="exampleInputCompanyName" type="text" aria-describedby="nameHelp" placeholder="Enter Company Name" data-ng-model="company.CompanyName" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email" data-ng-model="company.CompanyEmail" required>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputPassword1">Password</label>
                                <input class="form-control" id="exampleInputPassword" name="password" type="password" placeholder="Password" data-ng-model="company.CompanyPassword" required>
                                <!--input type="password" name="pwd" ng-model="user.password" required="" class="form-control" /-->
                            </div>
                            <div class="col-md-6">
                                <label for="exampleConfirmPassword">Confirm password</label>
                                <input class="form-control"  id="exampleConfirmPassword" type="password" name="confirm" placeholder="Confirm password" data-ng-model="company.CompanyPassword2" required >

                                <!--input type="password" name="confirmPassword" ng-model="user.confirmPassword" required="" compare-to="user.password" class="form-control" /-->
                            </div>
                            <!--<span data-ng-show="CompanyForm.emailReg2.$error.match">Emails have to match!</span>-->
                        </div>
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" id="submit" value="Register" ng-disabled="CompanyForm.$invalid" />

                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="login.html">Login Page</a>
                    <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>
