﻿<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet">

    <script src="../Scripts/angular.js"></script>
    <script src="../js/jobs.js"></script>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->


    <div class="content-wrapper"  ng-controller="ListJobsReviewsController">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Jobs</a>
                </li>
                <li class="breadcrumb-item active">Job's Reviews</li>
            </ol>
            <!-- Example DataTables Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Job's Reviews
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>Company</th>
                                    <th>Review</th>
                                    <th>From</th>
                                    <th>Profession</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Index</th>
                                    <th>Company</th>
                                    <th>Review</th>
                                    <th>From</th>
                                    <th>Profession</th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr ng-repeat="reviews in reviews" ng-class="{'selected':$index == selectedRow}">
                                    <td>
                                        {{$index +1}}
                                    </td>
                                    
                                   
                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="CompanyName">{{reviews.CompanyName}}</span>
                                        <span data-ng-show="editMode" data-ng-model="CompanyName">{{reviews.CompanyName}}</span>
                                    </td>
                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="Review">{{reviews.Comments}}</span>
                                        <span data-ng-show="editMode" data-ng-model="Review">{{reviews.Comments}}</span>
                                    </td>

                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="NameFrom">{{reviews.Name}}</span>
                                        <span data-ng-show="editMode" data-ng-model="NameFrom">{{reviews.Name}}</span>
                                    </td>

                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="Profession">{{reviews.Profession}}</span>
                                        <span data-ng-show="editMode" data-ng-model="Profession">{{reviews.Profession}}</span>
                                    </td>

                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="Date">{{reviews.DateT}}</span>
                                        <span data-ng-show="editMode" data-ng-model="Date">{{reviews.DateT}}</span>
                                    </td>
                                     
                                    <td>
                                        <button type="button" ng-click="addReplyReviewGetData(reviews.ReviewID)" data-toggle="modal" data-target="#myModal" class="btn blue no-margin">Reply Review</button>
                                        <button type="button" ng-click="deleteReview(reviews.ReviewID, reviews.CompanyName)" class="btn btn-default">Delete Review</button>
                                    </td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted"></div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Reply for: {{CompanyName}}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form name="form" class="contact-form" g-submit="submitForm(Form.$valid)" ng-controller="saveReply" ng-submit="submit(form.$valid)">
                            <div>
                                <textarea data-ng-model="review.Reply" class="form-control" placeholder="Type your Reply" data-ng-required required></textarea>
                            </div>
                            <br />
                            <input type="submit" class="btn btn-primary btn-block" id="submit" value="Submit" />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn blue no-margin" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>



        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <!-- Bootstrap core JavaScript-->
        <script src="../vendor/jquery/jquery.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="../vendor/datatables/jquery.dataTables.js"></script>
        <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="../js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="../js/sb-admin-datatables.min.js"></script>
    </div>
</body>
</html>

<!-- Modal -->
