@CHARSET "UTF-8";
.flagContent {
 width:auto;
 white-space:nowrap;
 display:inline-block;
 font-size:0
}
.flagContent button {
 border:none;
 margin-left:12px;
 padding:0 12px
}
.flagContent button:after {
 display:none
}
.flagContent button>span {
 display:inline-block;
 vertical-align:middle;
 line-height:1em
}
.flagContent button.simple {
 background:none;
 -webkit-box-shadow:none;
 box-shadow:none
}
.flagContent button:hover:before,.flagContent button:hover:after {
 background-color:transparent
}
.flagContent button:hover i.icon-flag-content {
 background-repeat:no-repeat;
 background-position:1px 0;
 -webkit-background-size:19px 20px;
 background-size:19px 20px;
 background-image:url("//www.glassdoor.com/app/static/img/core/icons/flag-content-hover.png?v=3ebaf5b7")
}
@media (min--moz-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 13/10), (min-resolution: 1.3dppx) {
 .flagContent button:hover i.icon-flag-content {
  background-image:url("//www.glassdoor.com/app/static/img/core/icons/flag-content-hover2x.png?v=032e11dp");
  -webkit-background-size:19px 20px;
  background-size:19px 20px
 }
}
body.mobileDevice .flagContent button>span {
 line-height:1em
}
#FlagContentDlg {
 padding:2px 20px 20px 20px;
 overflow:auto
}
#FlagContentDlg h3 {
 font-weight:bold
}
#FlagContentDlg p {
 margin-bottom:10px
}
#FlagContentDlg textarea {
 width:390px;
 height:120px
}
#FlagContentDlg .result {
 position:relative;
 padding:0 0 0 25px
}
#FlagContentDlg .result i.circledGreenCheck,#FlagContentDlg .result i.error {
 position:absolute;
 top:0;
 left:0
}
.flagCommentForm textarea {
 width:320px
}
@media only screen and (max-width: 767px) {
 .flagCommentForm textarea {
  width:220px
 }
}
.flagForm {
 border:1px solid #c2c2c2;
 border-radius:2px;
 padding:12px;
 background:#fff;
 -webkit-box-shadow:1px 1px 1px 0 rgba(204,204,204,0.4);
 box-shadow:1px 1px 1px 0 rgba(204,204,204,0.4)
}
.flagForm:after {
 content:'';
 height:0;
 width:0;
 border-left:6px solid transparent;
 border-right:6px solid transparent;
 border-bottom:6px solid #fff;
 position:absolute;
 right:11px;
 top:-6px
}
.flagForm:before {
 content:'';
 height:0;
 width:0;
 border-left:8px solid transparent;
 border-right:8px solid transparent;
 border-bottom:8px solid #c2c2c2;
 position:absolute;
 right:9px;
 top:-8px
}
.flagForm.open-up:after {
 top:auto;
 bottom:-6px;
 border-bottom-width:0;
 border-top:6px solid #fff
}
.flagForm.open-up:before {
 top:auto;
 bottom:-8px;
 border-bottom-width:0;
 border-top:8px solid #c2c2c2
}
.flagForm .successBox,.flagForm .errBox {
 width:auto
}
.flagForm .successBox {
 padding-right:24px !important;
 position:relative
}
.flagForm .successBox .medx {
 cursor:pointer;
 position:absolute;
 top:16px;
 right:12px
}
.gd-btn i.flag-content {
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide.png?v=9ce3dc8zr");
 background-position:0px -192px;
 width:12px;
 height:14px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .gd-btn i.flag-content {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide2x.png?v=ea3015i6n");
  -webkit-background-size:233px 222px;
  background-size:233px 222px
 }
}
i.icon-flag-content {
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/ei.png?v=9539fe3qb");
 background-position:-67px -97px;
 width:19px;
 height:20px;
 cursor:pointer
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 i.icon-flag-content {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/ei2x.png?v=fa4e80708");
  -webkit-background-size:141px 120px;
  background-size:141px 120px
 }
}
i.icon-flag-content-white {
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/ei.png?v=9539fe3qb");
 background-position:0px -97px;
 width:23px;
 height:23px;
 cursor:pointer
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 i.icon-flag-content-white {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/ei2x.png?v=fa4e80708");
  -webkit-background-size:141px 120px;
  background-size:141px 120px
 }
}
.voteHelpful span.lbl {
 color:#404040;
 margin-right:12px;
 vertical-align:middle;
 line-height:1em
}
.voteArrowContainer {
 width:24px
}
.voteArrowContainer .voteArrow {
 color:#fff;
 background:#00A1DF;
 font-size:14px ;
 font-size:.93333333rem ;
 padding:6px;
 cursor:pointer;
 border-radius:2px
}
.voteArrowContainer .voteArrow.active {
 background:#0CAA41
}
@media only screen and (max-width: 1024px) {
 .voteArrowContainer {
  width:40px
 }
 .voteArrowContainer .voteArrow {
  padding:12px;
  font-size:24px ;
  font-size:1.6rem 
 }
}
.social-share-icon.pinterest-share {
 display:inline-block;
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/social-share.png?v=383a3d3ac");
 background-position:-84px -42px;
 width:30px;
 height:30px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .social-share-icon.pinterest-share {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/social-share2x.png?v=bf38ef603");
  -webkit-background-size:126px 112px;
  background-size:126px 112px
 }
}
div.photoGrid ul.grid {
 padding-left:0;
 width:100%;
 font-size:0;
 line-height:0
}
div.photoGrid ul.grid li {
 display:inline-block;
 min-height:1px;
 vertical-align:top;
 margin:0;
 width:33.33333333%
}
div.photoGrid ul.grid.visible li {
 outline:1px solid #52b8cc
}
@media only screen and (max-width: 767px) {
 div.photoGrid ul.grid {
  width:100%;
  font-size:0;
  line-height:0
 }
 div.photoGrid ul.grid li {
  display:inline-block;
  min-height:1px;
  vertical-align:top;
  margin:0;
  width:50%
 }
 div.photoGrid ul.grid.visible li {
  outline:1px solid #52b8cc
 }
}
div.photoGrid ul.grid li {
 padding:0 16px 16px 0
}
div.photoGrid ul.grid li figure {
 position:relative;
 width:100%;
 max-height:210px;
 background-color:#F1F2F2;
 overflow:hidden;
 cursor:pointer
}
@media only screen and (max-width: 767px) {
 div.photoGrid ul.grid li figure {
  max-height:420px
 }
}
div.photoGrid ul.grid li figure img {
 width:100%;
 height:auto;
 max-height:210px
}
@media only screen and (max-width: 767px) {
 div.photoGrid ul.grid li figure img {
  max-height:420px
 }
}
div.photoGrid ul.grid li figure figcaption {
 position:absolute;
 bottom:-32px;
 left:0;
 width:100%;
 height:auto;
 padding:8px 16px;
 background-color:rgba(0,0,0,0.65);
 font-size:14px;
 line-height:1em;
 color:#fff;
 vertical-align:middle;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 -webkit-transition:bottom .3s;
 -o-transition:bottom .3s;
 transition:bottom .3s
}
div.photoGrid ul.grid li figure figcaption i {
 width:8px;
 height:13px;
 margin-right:8px;
 background:transparent url("//www.glassdoor.com/app/static/img/core/sprites/common.png?v=dc10f96c1") no-repeat -220px 0;
 vertical-align:bottom
}
div.photoGrid ul.grid li figure:hover figcaption {
 bottom:0
}
figure.photoDetails {
 display:inline-block;
 height:100%;
 width:100%;
 text-align:center;
 vertical-align:middle;
 white-space:nowrap
}
figure.photoDetails>.frame {
 display:block;
 position:relative;
 height:100%;
 max-width:100%;
 vertical-align:middle
}
figure.photoDetails>.frame>i.hlpr {
 height:100%;
 width:0;
 vertical-align:middle
}
figure.photoDetails>.frame img {
 max-width:100%;
 width:auto !important;
 height:auto !important
}
figure.photoDetails .info {
 text-align:left;
 visibility:hidden;
 position:absolute;
 left:0;
 bottom:0;
 width:100%;
 padding:8px 16px;
 background-color:rgba(0,0,0,0.65);
 opacity:0;
 -webkit-transition:opacity .3s;
 -o-transition:opacity .3s;
 transition:opacity .3s
}
figure.photoDetails .info figcaption,figure.photoDetails .info figcaption * {
 font-size:15px;
 color:#fff;
 text-align:left;
 overflow:hidden;
 text-overflow:ellipsis
}
figure.photoDetails .info figcaption i {
 width:8px;
 height:13px;
 margin-right:8px;
 background:transparent url("//www.glassdoor.com/app/static/img/core/sprites/common.png?v=dc10f96c1") no-repeat -220px 0;
 vertical-align:bottom
}
figure.photoDetails .info .tbl {
 width:100%
}
@media only screen and (max-width: 767px) {
 figure.photoDetails .info .tbl {
  display:block
 }
}
figure.photoDetails .info .tbl .cell {
 padding-top:12px;
 vertical-align:middle
}
@media only screen and (max-width: 767px) {
 figure.photoDetails .info .tbl .cell {
  display:block;
  width:100%
 }
 figure.photoDetails .info .tbl .cell.actions {
  text-align:left
 }
}
figure.photoDetails .info .tbl .cell.dateInfo {
 padding-right:16px
}
@media only screen and (max-width: 767px) {
 figure.photoDetails .info .tbl .cell.dateInfo {
  padding:12px 0 0
 }
}
figure.photoDetails .info .date {
 font-size:14px;
 vertical-align:baseline;
 color:#7f7f7f
}
figure.photoDetails .info .voteHelpful span.lbl {
 color:white
}
.royalSlider {
 width:600px;
 height:400px;
 position:relative;
 direction:ltr
}
.royalSlider>* {
 float:left
}
.rsWebkit3d .rsSlide {
 -webkit-transform:translateZ(0)
}
.rsWebkit3d .rsSlide,.rsWebkit3d .rsContainer,.rsWebkit3d .rsThumbs,.rsWebkit3d .rsPreloader,.rsWebkit3d img,.rsWebkit3d .rsOverflow,.rsWebkit3d .rsBtnCenterer,.rsWebkit3d .rsAbsoluteEl,.rsWebkit3d .rsABlock,.rsWebkit3d .rsLink {
 -webkit-backface-visibility:hidden
}
.rsFade.rsWebkit3d .rsSlide,.rsFade.rsWebkit3d img,.rsFade.rsWebkit3d .rsContainer {
 -webkit-transform:none
}
.rsOverflow {
 width:100%;
 height:100%;
 position:relative;
 overflow:hidden;
 float:left;
 -webkit-tap-highlight-color:transparent
}
.rsVisibleNearbyWrap {
 width:100%;
 height:100%;
 position:relative;
 overflow:hidden;
 left:0;
 top:0;
 -webkit-tap-highlight-color:transparent
}
.rsVisibleNearbyWrap .rsOverflow {
 position:absolute;
 left:0;
 top:0
}
.rsContainer {
 position:relative;
 width:100%;
 height:100%;
 -webkit-tap-highlight-color:transparent
}
.rsArrow,.rsThumbsArrow {
 cursor:pointer
}
.rsThumb {
 float:left;
 position:relative
}
.rsArrow,.rsNav,.rsThumbsArrow {
 opacity:1;
 -webkit-transition:opacity .3s linear;
 -o-transition:opacity .3s linear;
 transition:opacity .3s linear
}
.rsHidden {
 opacity:0;
 visibility:hidden;
 -webkit-transition:visibility 0s linear .3s,opacity .3s linear;
 -o-transition:visibility 0s linear .3s,opacity .3s linear;
 transition:visibility 0s linear .3s,opacity .3s linear
}
.rsGCaption {
 width:100%;
 float:left;
 text-align:center
}
.royalSlider.rsFullscreen {
 position:fixed !important;
 height:auto !important;
 width:auto !important;
 margin:0 !important;
 padding:0 !important;
 z-index:2147483647 !important;
 top:0 !important;
 left:0 !important;
 bottom:0 !important;
 right:0 !important
}
.royalSlider .rsSlide.rsFakePreloader {
 opacity:1 !important;
 -webkit-transition:0s;
 -o-transition:0s;
 transition:0s;
 display:none
}
.rsSlide {
 position:absolute;
 left:0;
 top:0;
 display:block;
 overflow:hidden;
 height:100%;
 width:100%
}
.royalSlider.rsAutoHeight,.rsAutoHeight .rsSlide {
 height:auto
}
.rsContent {
 width:100%;
 height:100%;
 position:relative
}
.rsPreloader {
 position:absolute;
 z-index:0
}
.rsNav {
 -moz-user-select:-moz-none;
 -webkit-user-select:none;
 -ms-user-select:none;
 user-select:none
}
.rsNavItem {
 -webkit-tap-highlight-color:rgba(0,0,0,0.25)
}
.rsThumbs {
 cursor:pointer;
 position:relative;
 overflow:hidden;
 float:left;
 z-index:22
}
.rsTabs {
 float:left;
 background:none !important
}
.rsTabs,.rsThumbs {
 -webkit-tap-highlight-color:transparent;
 -webkit-tap-highlight-color:transparent
}
.rsVideoContainer {
 width:auto;
 height:auto;
 line-height:0;
 position:relative
}
.rsVideoFrameHolder {
 position:absolute;
 left:0;
 top:0;
 background:#141414;
 opacity:0;
 -webkit-transition:.3s
}
.rsVideoFrameHolder.rsVideoActive {
 opacity:1
}
.rsVideoContainer iframe,.rsVideoContainer video,.rsVideoContainer embed,.rsVideoContainer .rsVideoObj {
 position:absolute;
 z-index:50;
 left:0;
 top:0;
 width:100%;
 height:100%
}
.rsVideoContainer.rsIOSVideo iframe,.rsVideoContainer.rsIOSVideo video,.rsVideoContainer.rsIOSVideo embed {
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 padding-right:44px
}
.rsABlock {
 left:0;
 top:0;
 position:absolute;
 z-index:15
}
img.rsImg {
 max-width:none
}
.rsNoDrag {
 cursor:auto
}
.rsGD,.rsGD * {
 -webkit-box-sizing:border-box;
 box-sizing:border-box
}
.rsGD,.rsGD .rsOverflow,.rsGD .rsSlide,.rsGD .rsVideoFrameHolder,.rsGD .rsThumbs {
 background:#151515;
 color:#FFF
}
.rsGD {
 position:relative
}
.rsGD .rsArrow {
 -webkit-touch-callout:none;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none;
 height:100%;
 width:90px;
 height:90px;
 position:absolute;
 display:block;
 cursor:pointer;
 z-index:21
}
.rsGD.rsVer .rsArrow {
 width:100%;
 height:90px
}
.rsGD.rsVer .rsArrowLeft {
 top:0;
 left:0
}
.rsGD.rsVer .rsArrowRight {
 bottom:0;
 left:0
}
.rsGD.rsHor .rsArrowLeft {
 left:0;
 top:0
}
.rsGD.rsHor .rsArrowRight {
 right:0;
 top:0
}
.rsGD .rsArrowIcn {
 position:absolute;
 top:50%;
 margin-top:-45px;
 cursor:pointer;
 background-color:#000;
 background-color:rgba(0,0,0,0.25);
 *background-color:#000;
 -webkit-transition:background-color .3s ease;
 -o-transition:background-color .3s ease;
 transition:background-color .3s ease;
 border-radius:2px
}
.rsGD .rsArrowIcn:hover {
 background-color:rgba(0,0,0,0.7)
}
.rsGD.rsHor .rsArrowLeft .rsArrowIcn {
 left:16px;
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide.png?v=9ce3dc8zr");
 background-position:0px -131px;
 width:33px;
 height:61px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .rsGD.rsHor .rsArrowLeft .rsArrowIcn {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide2x.png?v=ea3015i6n");
  -webkit-background-size:233px 222px;
  background-size:233px 222px
 }
}
.rsGD.rsHor .rsArrowRight .rsArrowIcn {
 right:16px;
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide.png?v=9ce3dc8zr");
 background-position:-33px -131px;
 width:33px;
 height:61px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .rsGD.rsHor .rsArrowRight .rsArrowIcn {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide2x.png?v=ea3015i6n");
  -webkit-background-size:233px 222px;
  background-size:233px 222px
 }
}
.rsGD.rsVer .rsArrowLeft .rsArrowIcn {
 top:16px;
 background-position:-96px 0
}
.rsGD.rsVer .rsArrowRight .rsArrowIcn {
 bottom:16px;
 background-position:-96px 0
}
.rsGD .rsArrowIcn {
 opacity:1.0;
 filter:alpha(opacity=100);
 *display:block
}
.rsGD.rsHor .rsArrowDisabled .rsArrowIcn {
 opacity:0.7;
 filter:alpha(opacity=70);
 *display:none
}
.rsGD.rsHor .rsArrowDisabled.rsArrowLeft .rsArrowIcn {
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide.png?v=9ce3dc8zr");
 background-position:-66px -131px;
 width:33px;
 height:61px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .rsGD.rsHor .rsArrowDisabled.rsArrowLeft .rsArrowIcn {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide2x.png?v=ea3015i6n");
  -webkit-background-size:233px 222px;
  background-size:233px 222px
 }
}
.rsGD.rsHor .rsArrowDisabled.rsArrowRight .rsArrowIcn {
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide.png?v=9ce3dc8zr");
 background-position:-165px -48px;
 width:33px;
 height:61px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .rsGD.rsHor .rsArrowDisabled.rsArrowRight .rsArrowIcn {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide2x.png?v=ea3015i6n");
  -webkit-background-size:233px 222px;
  background-size:233px 222px
 }
}
.rsGD.rsLimitedArrows .rsArrow {
 position:absolute;
 top:50%;
 margin-top:-45px;
 border-radius:2px
}
.rsGD.rsLimitedArrows .rsArrow.rsHor .rsArrowLeft {
 left:16px
}
.rsGD.rsLimitedArrows .rsArrow.rsHor .rsArrowRight .rsArrowIcn {
 right:16px
}
.rsGD.rsLimitedArrows .rsArrow.rsVer {
 left:50%;
 margin-left:-45px;
 margin-top:0
}
.rsGD.rsLimitedArrows .rsArrow.rsVer .rsArrowLeft .rsArrowIcn {
 top:16px
}
.rsGD.rsLimitedArrows .rsArrow.rsVer .rsArrowRight .rsArrowIcn {
 bottom:16px
}
.rsGD .rsBullets {
 width:100%;
 padding:12px 0 0;
 text-align:center;
 background:transparent none
}
.rsGD .rsBullet {
 display:inline-block;
 *display:inline;
 *zoom:1;
 margin:0 12px;
 cursor:pointer
}
.rsGD .rsBullet span {
 display:inline-block;
 width:16px;
 height:16px;
 border-radius:50%;
 background:#0d0d0d;
 background:rgba(13,13,13,0.5);
 -webkit-transition:background-color .3s;
 -o-transition:background-color .3s;
 transition:background-color .3s
}
.rsGD .rsBullet.rsNavSelected {
 cursor:default
}
.rsGD .rsBullet.rsNavSelected span {
 background:#7f7f7f;
 background:rgba(127,127,127,0.5)
}
.rsGD .rsThumbsHor {
 width:100%;
 height:72px
}
.rsGD .rsThumbsVer {
 width:96px;
 height:100%;
 position:absolute;
 top:0;
 right:0
}
.rsGD rsWithThumbsHor .rsThumbsContainer {
 position:relative;
 height:100%
}
.rsGD.rsWithThumbsVer .rsThumbsContainer {
 position:relative;
 width:100%
}
.rsGD .rsThumb {
 float:left;
 overflow:hidden;
 width:96px;
 height:72px
}
.rsGD .rsThumb img {
 width:100%;
 height:100%
}
.rsGD .rsThumb.rsNavSelected {
 background:#02874a
}
.rsGD .rsThumb.rsNavSelected img {
 opacity:0.3;
 filter:alpha(opacity=30)
}
.rsGD .rsTmb {
 display:block
}
.rsGD .rsTmb h5 {
 font-size:16px;
 margin:0;
 padding:0;
 line-height:20px;
 color:#FFF
}
.rsGD .rsTmb span {
 color:#DDD;
 margin:0;
 padding:0;
 font-size:13px;
 line-height:18px
}
.rsGD .rsThumbsArrow {
 height:100%;
 width:20px;
 position:absolute;
 display:block;
 cursor:pointer;
 z-index:21;
 background:#000;
 background:rgba(0,0,0,0.75)
}
.rsGD .rsThumbsArrow:hover {
 background:rgba(0,0,0,0.9)
}
.rsGD.rsWithThumbsVer .rsThumbsArrow {
 width:100%;
 height:20px
}
.rsGD.rsWithThumbsVer .rsThumbsArrowLeft {
 top:0;
 left:0
}
.rsGD.rsWithThumbsVer .rsThumbsArrowRight {
 bottom:0;
 left:0
}
.rsGD.rsWithThumbsHor .rsThumbsArrowLeft {
 left:0;
 top:0
}
.rsGD.rsWithThumbsHor .rsThumbsArrowRight {
 right:0;
 top:0
}
.rsGD .rsThumbsArrowIcn {
 width:16px;
 height:16px;
 top:50%;
 left:50%;
 margin-top:-8px;
 margin-left:-8px;
 position:absolute;
 cursor:pointer;
 background:url("//www.glassdoor.com/app/static/img/core/jquery/plugins/royalslider/rs-default.png?v=7dd6c6xu")
}
.rsGD.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn {
 background-position:-128px -32px
}
.rsGD.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn {
 background-position:-128px -48px
}
.rsGD.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn {
 background-position:-144px -32px
}
.rsGD.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn {
 background-position:-144px -48px
}
.rsGD .rsThumbsArrowDisabled {
 display:none !important
}
@media screen and (min-width: 0) and (max-width: 800px) {
 .rsGD .rsThumb {
  width:59px;
  height:44px
 }
 .rsGD .rsThumbsHor {
  height:44px
 }
 .rsGD .rsThumbsVer {
  width:59px
 }
}
.rsGD .rsTabs {
 width:100%;
 height:auto;
 margin:0 auto;
 text-align:center;
 overflow:hidden;
 padding-top:12px;
 position:relative
}
.rsGD .rsTab {
 display:inline-block;
 cursor:pointer;
 text-align:center;
 height:auto;
 width:auto;
 color:#333;
 padding:5px 13px 6px;
 min-width:72px;
 border:1px solid #D9D9DD;
 border-right:1px solid #e7e7e7;
 text-decoration:none;
 background-color:#FFF;
 background-image:-webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f4f4f4));
 background-image:-webkit-linear-gradient(top, #fefefe, #f4f4f4);
 background-image:-o-linear-gradient(top, #fefefe, #f4f4f4);
 background-image:linear-gradient(to bottom, #fefefe, #f4f4f4);
 -webkit-box-shadow:inset 1px 0 0 #fff;
 box-shadow:inset 1px 0 0 #fff;
 *display:inline;
 *zoom:1
}
.rsGD .rsTab:first-child {
 border-top-left-radius:4px;
 border-bottom-left-radius:4px
}
.rsGD .rsTab:last-child {
 border-top-right-radius:4px;
 border-bottom-right-radius:4px;
 border-right:1px solid #cfcfcf
}
.rsGD .rsTab:active {
 border:1px solid #D9D9DD;
 background-color:#f4f4f4;
 -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.2) inset;
 box-shadow:0 1px 4px rgba(0,0,0,0.2) inset
}
.rsGD .rsTab.rsNavSelected {
 color:#FFF;
 border:1px solid #7f7f7f;
 text-shadow:1px 1px #838383;
 -webkit-box-shadow:0 1px 9px rgba(102,102,102,0.65) inset;
 box-shadow:0 1px 9px rgba(102,102,102,0.65) inset;
 background:#ACACAC;
 background-image:-webkit-linear-gradient(to top, #ACACAC, #BBB);
 background-image:-moz-llinear-gradient(to top, #ACACAC, #BBB);
 background-image:-webkit-gradient(linear, left top, left bottom, from(#ACACAC), to(#BBB));
 background-image:-webkit-linear-gradient(top, #ACACAC, #BBB);
 background-image:-o-linear-gradient(top, #ACACAC, #BBB);
 background-image:linear-gradient(to bottom, #ACACAC, #BBB)
}
.rsGD .rsFullscreenBtn {
 right:0;
 top:0;
 width:44px;
 height:44px;
 z-index:22;
 display:block;
 position:absolute;
 cursor:pointer
}
.rsGD .rsFullscreenIcn {
 display:block;
 margin:6px;
 width:32px;
 height:32px;
 background:url("//www.glassdoor.com/app/static/img/core/jquery/plugins/royalslider/rs-default.png?v=7dd6c6xu") 0 0;
 background-color:#000;
 background-color:rgba(0,0,0,0.75);
 *background-color:#000;
 border-radius:2px
}
.rsGD .rsFullscreenIcn:hover {
 background-color:rgba(0,0,0,0.9)
}
.rsGD.rsFullscreen .rsFullscreenIcn {
 background-position:-32px 0
}
.rsGD .rsPlayBtn {
 -webkit-tap-highlight-color:rgba(0,0,0,0.3);
 width:64px;
 height:64px;
 margin-left:-32px;
 margin-top:-32px;
 cursor:pointer
}
.rsGD .rsPlayBtnIcon {
 width:64px;
 display:block;
 height:64px;
 border-radius:4px;
 -webkit-transition:.3s;
 -o-transition:.3s;
 transition:.3s;
 background:url("//www.glassdoor.com/app/static/img/core/jquery/plugins/royalslider/rs-default.png?v=7dd6c6xu") no-repeat 0 -32px;
 background-color:#000;
 background-color:rgba(0,0,0,0.75);
 *background-color:#000
}
.rsGD .rsPlayBtn:hover .rsPlayBtnIcon {
 background-color:rgba(0,0,0,0.9)
}
.rsGD .rsBtnCenterer {
 position:absolute;
 left:50%;
 top:50%
}
.rsGD .rsCloseVideoBtn {
 right:0;
 top:0;
 width:44px;
 height:44px;
 z-index:500;
 position:absolute;
 cursor:pointer;
 -webkit-backface-visibility:hidden;
 -webkit-transform:translateZ(0)
}
.rsGD .rsCloseVideoBtn.rsiOSBtn {
 top:-38px;
 right:-6px
}
.rsGD .rsCloseVideoIcn {
 margin:6px;
 width:32px;
 height:32px;
 background:url("//www.glassdoor.com/app/static/img/core/jquery/plugins/royalslider/rs-default.png?v=7dd6c6xu") -64px 0;
 background-color:#000;
 background-color:rgba(0,0,0,0.75);
 *background-color:#000
}
.rsGD .rsCloseVideoIcn:hover {
 background-color:rgba(0,0,0,0.9)
}
.rsGD .rsGD .rsPreloader {
 width:20px;
 height:20px;
 background-image:url("//www.glassdoor.com/app/static/img/core/jquery/plugins/royalslider/preloader-white.gif?v=6833f7o5");
 left:50%;
 top:50%;
 margin-left:-10px;
 margin-top:-10px
}
.rsGD .rsGCaption {
 position:absolute;
 float:none;
 bottom:6px;
 left:6px;
 text-align:left;
 background:#000;
 background:rgba(0,0,0,0.75);
 color:#FFF;
 padding:2px 8px;
 width:auto;
 font-size:12px;
 border-radius:2px
}
.rsGD iframe.video.player {
 width:100% !important;
 height:100% !important
}
#LBPhotoSlider {
 position:relative;
 width:auto;
 max-width:1000px;
 padding:0 16px 16px;
 margin:0 auto
}
@media only screen and (max-width: 767px) {
 #LBPhotoSlider {
  margin:0;
  padding:0
 }
}
#LBPhotoSlider div.mfp-content {
 position:relative;
 display:inline-block;
 vertical-align:middle;
 margin:0 auto;
 z-index:1045;
 width:100%;
 max-width:1000px;
 background:#000;
 border-radius:4px;
 -webkit-background-clip:padding-box;
 background-clip:padding-box;
 border:1px solid #000
}
@media only screen and (max-width: 767px) {
 #LBPhotoSlider div.mfp-content {
  border:none
 }
}
#LBPhotoSlider .mfp-wrap.lightbox .mfp-container {
 padding:0
}
#LBPhotoSlider .mfp-wrap.lightbox .mfp-content {
 border:none
}
#LBPhotoSlider .sliderContainer,#LBPhotoSlider .sliderContainer royalSlider {
 width:100%;
 height:550px;
 max-height:100%;
 margin:0 auto
}
#LBPhotoSlider .rsSlide {
 height:100%
}
#LBPhotoSlider .rsSlide>div.holder {
 position:relative;
 text-align:center;
 height:100%
}
#LBPhotoSlider .rsSlide>div.holder>i.spinner {
 position:absolute;
 top:50%;
 left:50%;
 margin-top:-32px;
 margin-left:-32px;
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide.png?v=9ce3dc8zr");
 background-position:-175px -131px;
 width:32px;
 height:32px;
 -webkit-animation:rotate360 3s linear infinite;
 -o-animation:rotate360 3s linear infinite;
 animation:rotate360 3s linear infinite
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 #LBPhotoSlider .rsSlide>div.holder>i.spinner {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide2x.png?v=ea3015i6n");
  -webkit-background-size:233px 222px;
  background-size:233px 222px
 }
}
#LBPhotoSlider .rsSlide>div.holder span.helper {
 display:inline-block;
 height:100%;
 vertical-align:middle
}
#LBPhotoSlider .rsSlide>div.holder img {
 width:auto;
 height:auto;
 max-width:100%;
 max-height:550px;
 margin:0 auto;
 vertical-align:middle
}
#LBPhotoSlider .sliderContainer {
 -webkit-box-shadow:0 0 8px rgba(0,0,0,0.6);
 box-shadow:0 0 8px rgba(0,0,0,0.6)
}
@media only screen and (max-width: 767px) and (orientation: landscape) {
 #LBPhotoSlider .sliderContainer,#LBPhotoSlider .sliderInLightbox {
  height:300px
 }
}
#LBPhotoSlider .royalSlider {
 width:100%;
 height:100%
}
#LBPhotoSlider .titleBar {
 display:table;
 width:100%
}
#LBPhotoSlider .titleBar .viewAll,#LBPhotoSlider .titleBar .counter,#LBPhotoSlider .titleBar .close {
 display:table-cell;
 width:33.33333333%;
 padding:0 12px;
 vertical-align:middle
}
#LBPhotoSlider .titleBar .viewAll {
 padding-left:0
}
#LBPhotoSlider .titleBar .viewAll>a {
 display:inline-block;
 cursor:pointer;
 vertical-align:middle;
 color:#7f7f7f !important
}
#LBPhotoSlider .titleBar .viewAll>a i {
 width:35px;
 height:35px;
 background:transparent url("//www.glassdoor.com/app/static/img/sprites/lightbox.png?v=e55e99de") no-repeat 0 0;
 -webkit-background-size:70px 35px;
 background-size:70px 35px
}
#LBPhotoSlider .titleBar .viewAll>a span {
 vertical-align:middle
}
#LBPhotoSlider .titleBar .counter {
 text-align:center
}
#LBPhotoSlider .titleBar .counter,#LBPhotoSlider .titleBar .counter * {
 color:#7f7f7f
}
#LBPhotoSlider .titleBar .close {
 padding-right:0;
 text-align:right
}
#LBPhotoSlider .titleBar .close button {
 width:35px;
 height:35px;
 padding:0;
 border:none !important;
 font-size:0;
 vertical-align:middle;
 background:transparent url("//www.glassdoor.com/app/static/img/sprites/lightbox.png?v=e55e99de") no-repeat -35px 0;
 -webkit-background-size:70px 35px;
 background-size:70px 35px;
 -webkit-appearance:none;
 cursor:pointer
}
#LBPhotoSlider .slides {
 min-height:300px
}
#PhotosliderWrap .mfp-container {
 position:relative;
 width:auto;
 padding:0 16px
}
#PhotosliderWrap .mfp-content {
 background-color:black
}
#PhotosliderWrap .slick-slider {
 background-color:#151515
}
#PhotosliderWrap .titleBar {
 padding-bottom:12px
}
#PhotosliderWrap .titleBar .viewAll i {
 width:35px;
 height:35px;
 background:transparent url("//www.glassdoor.com/app/static/img/sprites/lightbox.png?v=e55e99de") no-repeat 0 0;
 -webkit-background-size:70px 35px;
 background-size:70px 35px
}
#PhotosliderWrap .titleBar .counter {
 text-align:center;
 color:rgba(255,255,255,0.7)
}
#PhotosliderWrap .holder {
 position:relative;
 padding:0px 50px
}
#PhotosliderWrap .holder .spinner {
 position:absolute;
 top:50%;
 left:50%;
 margin-top:-32px;
 margin-left:-32px;
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide.png?v=9ce3dc8zr");
 background-position:-175px -131px;
 width:32px;
 height:32px;
 -webkit-animation:rotate360 3s linear infinite;
 -o-animation:rotate360 3s linear infinite;
 animation:rotate360 3s linear infinite
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 #PhotosliderWrap .holder .spinner {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide2x.png?v=ea3015i6n");
  -webkit-background-size:233px 222px;
  background-size:233px 222px
 }
}
#PhotosliderWrap .holder img {
 max-width:100%;
 max-height:550px;
 vertical-align:middle;
 margin:0px auto;
 display:inline-block
}
.slick-slider {
 position:relative;
 display:block;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 -webkit-touch-callout:none;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none;
 -ms-touch-action:pan-y;
 touch-action:pan-y;
 -webkit-tap-highlight-color:transparent;
 min-height:300px;
 cursor:-webkit-grab
}
.slick-slider:active {
 cursor:-webkit-grabbing
}
.slick-list {
 position:relative;
 overflow:hidden;
 display:block;
 margin:0;
 padding:0;
 height:550px;
 min-height:100%;
 margin:0 auto
}
.slick-list:focus {
 outline:none
}
.slick-list.dragging {
 cursor:pointer;
 cursor:hand
}
@media only screen and (max-width: 767px) {
 .slick-list {
  max-height:80vh
 }
}
.slick-slider .slick-track,.slick-slider .slick-list {
 -webkit-transform:translate3d(0, 0, 0);
 -ms-transform:translate3d(0, 0, 0);
 -o-transform:translate3d(0, 0, 0);
 transform:translate3d(0, 0, 0)
}
.slick-track {
 position:relative;
 left:0;
 top:0;
 display:block;
 height:100%
}
.slick-track:before,.slick-track:after {
 content:"";
 display:table
}
.slick-track:after {
 clear:both
}
.slick-loading .slick-track {
 visibility:hidden
}
.slick-slide {
 float:left;
 height:100%;
 min-height:1px;
 display:none
}
[dir="rtl"] .slick-slide {
 float:right
}
.slick-slide img {
 display:block
}
.slick-slide.slick-loading img {
 display:none
}
.slick-slide.dragging img {
 pointer-events:none
}
.slick-initialized .slick-slide {
 display:block
}
.slick-loading .slick-slide {
 visibility:hidden
}
.slick-vertical .slick-slide {
 display:block;
 height:auto;
 border:1px solid transparent
}
.slick-arrow.slick-hidden {
 display:none
}
.slick-prev,.slick-next {
 position:absolute;
 display:block;
 z-index:200;
 line-height:0;
 font-size:0;
 cursor:pointer;
 background-color:rgba(0,0,0,0.25);
 color:transparent;
 top:50%;
 -webkit-transform:translate(0, -50%);
 -ms-transform:translate(0, -50%);
 -o-transform:translate(0, -50%);
 transform:translate(0, -50%);
 padding:0;
 border:none;
 outline:none;
 opacity:.75;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale
}
.slick-prev:hover,.slick-next:hover {
 outline:none;
 color:transparent;
 opacity:1
}
.slick-prev.slick-disabled,.slick-next.slick-disabled {
 opactiy:.25
}
.slick-prev {
 left:14px;
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide.png?v=9ce3dc8zr");
 background-position:0px -131px;
 width:33px;
 height:61px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .slick-prev {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide2x.png?v=ea3015i6n");
  -webkit-background-size:233px 222px;
  background-size:233px 222px
 }
}
[dir="rtl"] .slick-prev {
 left:auto;
 right:-25px
}
.slick-next {
 right:14px;
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide.png?v=9ce3dc8zr");
 background-position:-33px -131px;
 width:33px;
 height:61px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .slick-next {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide2x.png?v=ea3015i6n");
  -webkit-background-size:233px 222px;
  background-size:233px 222px
 }
}
[dir="rtl"] .slick-next {
 left:-25px;
 right:auto
}
