@-ms-viewport {
 width:device-width
}
html {
 box-sizing:border-box;
 -ms-overflow-style:scrollbar
}
*,:after,:before {
 box-sizing:inherit
}
.flex-row {
 -ms-flex-direction:row!important;
 flex-direction:row!important
}
.flex-column {
 -ms-flex-direction:column!important;
 flex-direction:column!important
}
.flex-row-reverse {
 -ms-flex-direction:row-reverse!important;
 flex-direction:row-reverse!important
}
.flex-column-reverse {
 -ms-flex-direction:column-reverse!important;
 flex-direction:column-reverse!important
}
.flex-wrap {
 -ms-flex-wrap:wrap!important;
 flex-wrap:wrap!important
}
.flex-nowrap {
 -ms-flex-wrap:nowrap!important;
 flex-wrap:nowrap!important
}
.flex-wrap-reverse {
 -ms-flex-wrap:wrap-reverse!important;
 flex-wrap:wrap-reverse!important
}
.justify-content-start {
 -ms-flex-pack:start!important;
 justify-content:flex-start!important
}
.justify-content-end {
 -ms-flex-pack:end!important;
 justify-content:flex-end!important
}
.justify-content-center {
 -ms-flex-pack:center!important;
 justify-content:center!important
}
.justify-content-between {
 -ms-flex-pack:justify!important;
 justify-content:space-between!important
}
.justify-content-around {
 -ms-flex-pack:distribute!important;
 justify-content:space-around!important
}
.align-items-start {
 -ms-flex-align:start!important;
 align-items:flex-start!important
}
.align-items-end {
 -ms-flex-align:end!important;
 align-items:flex-end!important
}
.align-items-center {
 -ms-flex-align:center!important;
 align-items:center!important
}
.align-items-baseline {
 -ms-flex-align:baseline!important;
 align-items:baseline!important
}
.align-items-stretch {
 -ms-flex-align:stretch!important;
 align-items:stretch!important
}
.align-content-start {
 -ms-flex-line-pack:start!important;
 align-content:flex-start!important
}
.align-content-end {
 -ms-flex-line-pack:end!important;
 align-content:flex-end!important
}
.align-content-center {
 -ms-flex-line-pack:center!important;
 align-content:center!important
}
.align-content-between {
 -ms-flex-line-pack:justify!important;
 align-content:space-between!important
}
.align-content-around {
 -ms-flex-line-pack:distribute!important;
 align-content:space-around!important
}
.align-content-stretch {
 -ms-flex-line-pack:stretch!important;
 align-content:stretch!important
}
.align-self-auto {
 -ms-flex-item-align:auto!important;
 align-self:auto!important
}
.align-self-start {
 -ms-flex-item-align:start!important;
 align-self:flex-start!important
}
.align-self-end {
 -ms-flex-item-align:end!important;
 align-self:flex-end!important
}
.align-self-center {
 -ms-flex-item-align:center!important;
 align-self:center!important
}
.align-self-baseline {
 -ms-flex-item-align:baseline!important;
 align-self:baseline!important
}
.align-self-stretch {
 -ms-flex-item-align:stretch!important;
 align-self:stretch!important
}
@media (min-width:576px) {
 .flex-sm-row {
  -ms-flex-direction:row!important;
  flex-direction:row!important
 }
 .flex-sm-column {
  -ms-flex-direction:column!important;
  flex-direction:column!important
 }
 .flex-sm-row-reverse {
  -ms-flex-direction:row-reverse!important;
  flex-direction:row-reverse!important
 }
 .flex-sm-column-reverse {
  -ms-flex-direction:column-reverse!important;
  flex-direction:column-reverse!important
 }
 .flex-sm-wrap {
  -ms-flex-wrap:wrap!important;
  flex-wrap:wrap!important
 }
 .flex-sm-nowrap {
  -ms-flex-wrap:nowrap!important;
  flex-wrap:nowrap!important
 }
 .flex-sm-wrap-reverse {
  -ms-flex-wrap:wrap-reverse!important;
  flex-wrap:wrap-reverse!important
 }
 .justify-content-sm-start {
  -ms-flex-pack:start!important;
  justify-content:flex-start!important
 }
 .justify-content-sm-end {
  -ms-flex-pack:end!important;
  justify-content:flex-end!important
 }
 .justify-content-sm-center {
  -ms-flex-pack:center!important;
  justify-content:center!important
 }
 .justify-content-sm-between {
  -ms-flex-pack:justify!important;
  justify-content:space-between!important
 }
 .justify-content-sm-around {
  -ms-flex-pack:distribute!important;
  justify-content:space-around!important
 }
 .align-items-sm-start {
  -ms-flex-align:start!important;
  align-items:flex-start!important
 }
 .align-items-sm-end {
  -ms-flex-align:end!important;
  align-items:flex-end!important
 }
 .align-items-sm-center {
  -ms-flex-align:center!important;
  align-items:center!important
 }
 .align-items-sm-baseline {
  -ms-flex-align:baseline!important;
  align-items:baseline!important
 }
 .align-items-sm-stretch {
  -ms-flex-align:stretch!important;
  align-items:stretch!important
 }
 .align-content-sm-start {
  -ms-flex-line-pack:start!important;
  align-content:flex-start!important
 }
 .align-content-sm-end {
  -ms-flex-line-pack:end!important;
  align-content:flex-end!important
 }
 .align-content-sm-center {
  -ms-flex-line-pack:center!important;
  align-content:center!important
 }
 .align-content-sm-between {
  -ms-flex-line-pack:justify!important;
  align-content:space-between!important
 }
 .align-content-sm-around {
  -ms-flex-line-pack:distribute!important;
  align-content:space-around!important
 }
 .align-content-sm-stretch {
  -ms-flex-line-pack:stretch!important;
  align-content:stretch!important
 }
 .align-self-sm-auto {
  -ms-flex-item-align:auto!important;
  align-self:auto!important
 }
 .align-self-sm-start {
  -ms-flex-item-align:start!important;
  align-self:flex-start!important
 }
 .align-self-sm-end {
  -ms-flex-item-align:end!important;
  align-self:flex-end!important
 }
 .align-self-sm-center {
  -ms-flex-item-align:center!important;
  align-self:center!important
 }
 .align-self-sm-baseline {
  -ms-flex-item-align:baseline!important;
  align-self:baseline!important
 }
 .align-self-sm-stretch {
  -ms-flex-item-align:stretch!important;
  align-self:stretch!important
 }
}
@media (min-width:767px) {
 .flex-md-row {
  -ms-flex-direction:row!important;
  flex-direction:row!important
 }
 .flex-md-column {
  -ms-flex-direction:column!important;
  flex-direction:column!important
 }
 .flex-md-row-reverse {
  -ms-flex-direction:row-reverse!important;
  flex-direction:row-reverse!important
 }
 .flex-md-column-reverse {
  -ms-flex-direction:column-reverse!important;
  flex-direction:column-reverse!important
 }
 .flex-md-wrap {
  -ms-flex-wrap:wrap!important;
  flex-wrap:wrap!important
 }
 .flex-md-nowrap {
  -ms-flex-wrap:nowrap!important;
  flex-wrap:nowrap!important
 }
 .flex-md-wrap-reverse {
  -ms-flex-wrap:wrap-reverse!important;
  flex-wrap:wrap-reverse!important
 }
 .justify-content-md-start {
  -ms-flex-pack:start!important;
  justify-content:flex-start!important
 }
 .justify-content-md-end {
  -ms-flex-pack:end!important;
  justify-content:flex-end!important
 }
 .justify-content-md-center {
  -ms-flex-pack:center!important;
  justify-content:center!important
 }
 .justify-content-md-between {
  -ms-flex-pack:justify!important;
  justify-content:space-between!important
 }
 .justify-content-md-around {
  -ms-flex-pack:distribute!important;
  justify-content:space-around!important
 }
 .align-items-md-start {
  -ms-flex-align:start!important;
  align-items:flex-start!important
 }
 .align-items-md-end {
  -ms-flex-align:end!important;
  align-items:flex-end!important
 }
 .align-items-md-center {
  -ms-flex-align:center!important;
  align-items:center!important
 }
 .align-items-md-baseline {
  -ms-flex-align:baseline!important;
  align-items:baseline!important
 }
 .align-items-md-stretch {
  -ms-flex-align:stretch!important;
  align-items:stretch!important
 }
 .align-content-md-start {
  -ms-flex-line-pack:start!important;
  align-content:flex-start!important
 }
 .align-content-md-end {
  -ms-flex-line-pack:end!important;
  align-content:flex-end!important
 }
 .align-content-md-center {
  -ms-flex-line-pack:center!important;
  align-content:center!important
 }
 .align-content-md-between {
  -ms-flex-line-pack:justify!important;
  align-content:space-between!important
 }
 .align-content-md-around {
  -ms-flex-line-pack:distribute!important;
  align-content:space-around!important
 }
 .align-content-md-stretch {
  -ms-flex-line-pack:stretch!important;
  align-content:stretch!important
 }
 .align-self-md-auto {
  -ms-flex-item-align:auto!important;
  align-self:auto!important
 }
 .align-self-md-start {
  -ms-flex-item-align:start!important;
  align-self:flex-start!important
 }
 .align-self-md-end {
  -ms-flex-item-align:end!important;
  align-self:flex-end!important
 }
 .align-self-md-center {
  -ms-flex-item-align:center!important;
  align-self:center!important
 }
 .align-self-md-baseline {
  -ms-flex-item-align:baseline!important;
  align-self:baseline!important
 }
 .align-self-md-stretch {
  -ms-flex-item-align:stretch!important;
  align-self:stretch!important
 }
}
@media (min-width:992px) {
 .flex-lg-row {
  -ms-flex-direction:row!important;
  flex-direction:row!important
 }
 .flex-lg-column {
  -ms-flex-direction:column!important;
  flex-direction:column!important
 }
 .flex-lg-row-reverse {
  -ms-flex-direction:row-reverse!important;
  flex-direction:row-reverse!important
 }
 .flex-lg-column-reverse {
  -ms-flex-direction:column-reverse!important;
  flex-direction:column-reverse!important
 }
 .flex-lg-wrap {
  -ms-flex-wrap:wrap!important;
  flex-wrap:wrap!important
 }
 .flex-lg-nowrap {
  -ms-flex-wrap:nowrap!important;
  flex-wrap:nowrap!important
 }
 .flex-lg-wrap-reverse {
  -ms-flex-wrap:wrap-reverse!important;
  flex-wrap:wrap-reverse!important
 }
 .justify-content-lg-start {
  -ms-flex-pack:start!important;
  justify-content:flex-start!important
 }
 .justify-content-lg-end {
  -ms-flex-pack:end!important;
  justify-content:flex-end!important
 }
 .justify-content-lg-center {
  -ms-flex-pack:center!important;
  justify-content:center!important
 }
 .justify-content-lg-between {
  -ms-flex-pack:justify!important;
  justify-content:space-between!important
 }
 .justify-content-lg-around {
  -ms-flex-pack:distribute!important;
  justify-content:space-around!important
 }
 .align-items-lg-start {
  -ms-flex-align:start!important;
  align-items:flex-start!important
 }
 .align-items-lg-end {
  -ms-flex-align:end!important;
  align-items:flex-end!important
 }
 .align-items-lg-center {
  -ms-flex-align:center!important;
  align-items:center!important
 }
 .align-items-lg-baseline {
  -ms-flex-align:baseline!important;
  align-items:baseline!important
 }
 .align-items-lg-stretch {
  -ms-flex-align:stretch!important;
  align-items:stretch!important
 }
 .align-content-lg-start {
  -ms-flex-line-pack:start!important;
  align-content:flex-start!important
 }
 .align-content-lg-end {
  -ms-flex-line-pack:end!important;
  align-content:flex-end!important
 }
 .align-content-lg-center {
  -ms-flex-line-pack:center!important;
  align-content:center!important
 }
 .align-content-lg-between {
  -ms-flex-line-pack:justify!important;
  align-content:space-between!important
 }
 .align-content-lg-around {
  -ms-flex-line-pack:distribute!important;
  align-content:space-around!important
 }
 .align-content-lg-stretch {
  -ms-flex-line-pack:stretch!important;
  align-content:stretch!important
 }
 .align-self-lg-auto {
  -ms-flex-item-align:auto!important;
  align-self:auto!important
 }
 .align-self-lg-start {
  -ms-flex-item-align:start!important;
  align-self:flex-start!important
 }
 .align-self-lg-end {
  -ms-flex-item-align:end!important;
  align-self:flex-end!important
 }
 .align-self-lg-center {
  -ms-flex-item-align:center!important;
  align-self:center!important
 }
 .align-self-lg-baseline {
  -ms-flex-item-align:baseline!important;
  align-self:baseline!important
 }
 .align-self-lg-stretch {
  -ms-flex-item-align:stretch!important;
  align-self:stretch!important
 }
}
@media (min-width:1360px) {
 .flex-xl-row {
  -ms-flex-direction:row!important;
  flex-direction:row!important
 }
 .flex-xl-column {
  -ms-flex-direction:column!important;
  flex-direction:column!important
 }
 .flex-xl-row-reverse {
  -ms-flex-direction:row-reverse!important;
  flex-direction:row-reverse!important
 }
 .flex-xl-column-reverse {
  -ms-flex-direction:column-reverse!important;
  flex-direction:column-reverse!important
 }
 .flex-xl-wrap {
  -ms-flex-wrap:wrap!important;
  flex-wrap:wrap!important
 }
 .flex-xl-nowrap {
  -ms-flex-wrap:nowrap!important;
  flex-wrap:nowrap!important
 }
 .flex-xl-wrap-reverse {
  -ms-flex-wrap:wrap-reverse!important;
  flex-wrap:wrap-reverse!important
 }
 .justify-content-xl-start {
  -ms-flex-pack:start!important;
  justify-content:flex-start!important
 }
 .justify-content-xl-end {
  -ms-flex-pack:end!important;
  justify-content:flex-end!important
 }
 .justify-content-xl-center {
  -ms-flex-pack:center!important;
  justify-content:center!important
 }
 .justify-content-xl-between {
  -ms-flex-pack:justify!important;
  justify-content:space-between!important
 }
 .justify-content-xl-around {
  -ms-flex-pack:distribute!important;
  justify-content:space-around!important
 }
 .align-items-xl-start {
  -ms-flex-align:start!important;
  align-items:flex-start!important
 }
 .align-items-xl-end {
  -ms-flex-align:end!important;
  align-items:flex-end!important
 }
 .align-items-xl-center {
  -ms-flex-align:center!important;
  align-items:center!important
 }
 .align-items-xl-baseline {
  -ms-flex-align:baseline!important;
  align-items:baseline!important
 }
 .align-items-xl-stretch {
  -ms-flex-align:stretch!important;
  align-items:stretch!important
 }
 .align-content-xl-start {
  -ms-flex-line-pack:start!important;
  align-content:flex-start!important
 }
 .align-content-xl-end {
  -ms-flex-line-pack:end!important;
  align-content:flex-end!important
 }
 .align-content-xl-center {
  -ms-flex-line-pack:center!important;
  align-content:center!important
 }
 .align-content-xl-between {
  -ms-flex-line-pack:justify!important;
  align-content:space-between!important
 }
 .align-content-xl-around {
  -ms-flex-line-pack:distribute!important;
  align-content:space-around!important
 }
 .align-content-xl-stretch {
  -ms-flex-line-pack:stretch!important;
  align-content:stretch!important
 }
 .align-self-xl-auto {
  -ms-flex-item-align:auto!important;
  align-self:auto!important
 }
 .align-self-xl-start {
  -ms-flex-item-align:start!important;
  align-self:flex-start!important
 }
 .align-self-xl-end {
  -ms-flex-item-align:end!important;
  align-self:flex-end!important
 }
 .align-self-xl-center {
  -ms-flex-item-align:center!important;
  align-self:center!important
 }
 .align-self-xl-baseline {
  -ms-flex-item-align:baseline!important;
  align-self:baseline!important
 }
 .align-self-xl-stretch {
  -ms-flex-item-align:stretch!important;
  align-self:stretch!important
 }
}
.gdGrid .container {
 margin-right:auto;
 margin-left:auto;
 width:100%
}
@media (min-width:576px) {
 .gdGrid .container {
  max-width:540px
 }
}
@media (min-width:767px) {
 .gdGrid .container {
  max-width:720px
 }
}
@media (min-width:992px) {
 .gdGrid .container {
  max-width:960px
 }
}
@media (min-width:1360px) {
 .gdGrid .container {
  max-width:1280px
 }
}
.gdGrid .container-fluid {
 margin-right:auto;
 margin-left:auto;
 width:100%
}
.gdGrid .row {
 display:-ms-flexbox;
 display:flex;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap
}
.gdGrid .no-gutters {
 margin-right:0;
 margin-left:0
}
.gdGrid .no-gutters>.col,.gdGrid .no-gutters>[class*=col-] {
 padding-right:0;
 padding-left:0
}
.gdGrid .col,.gdGrid .col-1,.gdGrid .col-2,.gdGrid .col-3,.gdGrid .col-4,.gdGrid .col-5,.gdGrid .col-6,.gdGrid .col-7,.gdGrid .col-8,.gdGrid .col-9,.gdGrid .col-10,.gdGrid .col-11,.gdGrid .col-12,.gdGrid .col-auto,.gdGrid .col-lg,.gdGrid .col-lg-1,.gdGrid .col-lg-2,.gdGrid .col-lg-3,.gdGrid .col-lg-4,.gdGrid .col-lg-5,.gdGrid .col-lg-6,.gdGrid .col-lg-7,.gdGrid .col-lg-8,.gdGrid .col-lg-9,.gdGrid .col-lg-10,.gdGrid .col-lg-11,.gdGrid .col-lg-12,.gdGrid .col-lg-auto,.gdGrid .col-md,.gdGrid .col-md-1,.gdGrid .col-md-2,.gdGrid .col-md-3,.gdGrid .col-md-4,.gdGrid .col-md-5,.gdGrid .col-md-6,.gdGrid .col-md-7,.gdGrid .col-md-8,.gdGrid .col-md-9,.gdGrid .col-md-10,.gdGrid .col-md-11,.gdGrid .col-md-12,.gdGrid .col-md-auto,.gdGrid .col-sm,.gdGrid .col-sm-1,.gdGrid .col-sm-2,.gdGrid .col-sm-3,.gdGrid .col-sm-4,.gdGrid .col-sm-5,.gdGrid .col-sm-6,.gdGrid .col-sm-7,.gdGrid .col-sm-8,.gdGrid .col-sm-9,.gdGrid .col-sm-10,.gdGrid .col-sm-11,.gdGrid .col-sm-12,.gdGrid .col-sm-auto,.gdGrid .col-xl,.gdGrid .col-xl-1,.gdGrid .col-xl-2,.gdGrid .col-xl-3,.gdGrid .col-xl-4,.gdGrid .col-xl-5,.gdGrid .col-xl-6,.gdGrid .col-xl-7,.gdGrid .col-xl-8,.gdGrid .col-xl-9,.gdGrid .col-xl-10,.gdGrid .col-xl-11,.gdGrid .col-xl-12,.gdGrid .col-xl-auto {
 position:relative;
 width:100%;
 min-height:1px
}
.gdGrid .col {
 -ms-flex-preferred-size:0;
 flex-basis:0;
 -ms-flex-positive:1;
 flex-grow:1;
 max-width:100%
}
.gdGrid .col-auto {
 -ms-flex:0 0 auto;
 flex:0 0 auto;
 width:auto;
 max-width:none
}
.gdGrid .container {
 padding-right:6px;
 padding-left:6px
}
.gdGrid .row {
 margin-right:-6px;
 margin-left:-6px
}
.gdGrid [class*=col-] {
 padding-right:6px;
 padding-left:6px
}
.gdGrid .col-1 {
 -ms-flex:0 0 8.33333%;
 flex:0 0 8.33333%;
 max-width:8.33333%
}
.gdGrid .col-2 {
 -ms-flex:0 0 16.66667%;
 flex:0 0 16.66667%;
 max-width:16.66667%
}
.gdGrid .col-3 {
 -ms-flex:0 0 25%;
 flex:0 0 25%;
 max-width:25%
}
.gdGrid .col-4 {
 -ms-flex:0 0 33.33333%;
 flex:0 0 33.33333%;
 max-width:33.33333%
}
.gdGrid .col-5 {
 -ms-flex:0 0 41.66667%;
 flex:0 0 41.66667%;
 max-width:41.66667%
}
.gdGrid .col-6 {
 -ms-flex:0 0 50%;
 flex:0 0 50%;
 max-width:50%
}
.gdGrid .col-7 {
 -ms-flex:0 0 58.33333%;
 flex:0 0 58.33333%;
 max-width:58.33333%
}
.gdGrid .col-8 {
 -ms-flex:0 0 66.66667%;
 flex:0 0 66.66667%;
 max-width:66.66667%
}
.gdGrid .col-9 {
 -ms-flex:0 0 75%;
 flex:0 0 75%;
 max-width:75%
}
.gdGrid .col-10 {
 -ms-flex:0 0 83.33333%;
 flex:0 0 83.33333%;
 max-width:83.33333%
}
.gdGrid .col-11 {
 -ms-flex:0 0 91.66667%;
 flex:0 0 91.66667%;
 max-width:91.66667%
}
.gdGrid .col-12 {
 -ms-flex:0 0 100%;
 flex:0 0 100%;
 max-width:100%
}
.gdGrid .order-1 {
 -ms-flex-order:1;
 order:1
}
.gdGrid .order-2 {
 -ms-flex-order:2;
 order:2
}
.gdGrid .order-3 {
 -ms-flex-order:3;
 order:3
}
.gdGrid .order-4 {
 -ms-flex-order:4;
 order:4
}
.gdGrid .order-5 {
 -ms-flex-order:5;
 order:5
}
.gdGrid .order-6 {
 -ms-flex-order:6;
 order:6
}
.gdGrid .order-7 {
 -ms-flex-order:7;
 order:7
}
.gdGrid .order-8 {
 -ms-flex-order:8;
 order:8
}
.gdGrid .order-9 {
 -ms-flex-order:9;
 order:9
}
.gdGrid .order-10 {
 -ms-flex-order:10;
 order:10
}
.gdGrid .order-11 {
 -ms-flex-order:11;
 order:11
}
.gdGrid .order-12 {
 -ms-flex-order:12;
 order:12
}
@media (min-width:576px) {
 .gdGrid .col-sm {
  -ms-flex-preferred-size:0;
  flex-basis:0;
  -ms-flex-positive:1;
  flex-grow:1;
  max-width:100%
 }
 .gdGrid .col-sm-auto {
  -ms-flex:0 0 auto;
  flex:0 0 auto;
  width:auto;
  max-width:none
 }
 .gdGrid .container {
  padding-right:6px;
  padding-left:6px
 }
 .gdGrid .row {
  margin-right:-6px;
  margin-left:-6px
 }
 .gdGrid [class*=col-] {
  padding-right:6px;
  padding-left:6px
 }
 .gdGrid .col-sm-1 {
  -ms-flex:0 0 8.33333%;
  flex:0 0 8.33333%;
  max-width:8.33333%
 }
 .gdGrid .col-sm-2 {
  -ms-flex:0 0 16.66667%;
  flex:0 0 16.66667%;
  max-width:16.66667%
 }
 .gdGrid .col-sm-3 {
  -ms-flex:0 0 25%;
  flex:0 0 25%;
  max-width:25%
 }
 .gdGrid .col-sm-4 {
  -ms-flex:0 0 33.33333%;
  flex:0 0 33.33333%;
  max-width:33.33333%
 }
 .gdGrid .col-sm-5 {
  -ms-flex:0 0 41.66667%;
  flex:0 0 41.66667%;
  max-width:41.66667%
 }
 .gdGrid .col-sm-6 {
  -ms-flex:0 0 50%;
  flex:0 0 50%;
  max-width:50%
 }
 .gdGrid .col-sm-7 {
  -ms-flex:0 0 58.33333%;
  flex:0 0 58.33333%;
  max-width:58.33333%
 }
 .gdGrid .col-sm-8 {
  -ms-flex:0 0 66.66667%;
  flex:0 0 66.66667%;
  max-width:66.66667%
 }
 .gdGrid .col-sm-9 {
  -ms-flex:0 0 75%;
  flex:0 0 75%;
  max-width:75%
 }
 .gdGrid .col-sm-10 {
  -ms-flex:0 0 83.33333%;
  flex:0 0 83.33333%;
  max-width:83.33333%
 }
 .gdGrid .col-sm-11 {
  -ms-flex:0 0 91.66667%;
  flex:0 0 91.66667%;
  max-width:91.66667%
 }
 .gdGrid .col-sm-12 {
  -ms-flex:0 0 100%;
  flex:0 0 100%;
  max-width:100%
 }
 .gdGrid .order-sm-1 {
  -ms-flex-order:1;
  order:1
 }
 .gdGrid .order-sm-2 {
  -ms-flex-order:2;
  order:2
 }
 .gdGrid .order-sm-3 {
  -ms-flex-order:3;
  order:3
 }
 .gdGrid .order-sm-4 {
  -ms-flex-order:4;
  order:4
 }
 .gdGrid .order-sm-5 {
  -ms-flex-order:5;
  order:5
 }
 .gdGrid .order-sm-6 {
  -ms-flex-order:6;
  order:6
 }
 .gdGrid .order-sm-7 {
  -ms-flex-order:7;
  order:7
 }
 .gdGrid .order-sm-8 {
  -ms-flex-order:8;
  order:8
 }
 .gdGrid .order-sm-9 {
  -ms-flex-order:9;
  order:9
 }
 .gdGrid .order-sm-10 {
  -ms-flex-order:10;
  order:10
 }
 .gdGrid .order-sm-11 {
  -ms-flex-order:11;
  order:11
 }
 .gdGrid .order-sm-12 {
  -ms-flex-order:12;
  order:12
 }
}
@media (min-width:767px) {
 .gdGrid .col-md {
  -ms-flex-preferred-size:0;
  flex-basis:0;
  -ms-flex-positive:1;
  flex-grow:1;
  max-width:100%
 }
 .gdGrid .col-md-auto {
  -ms-flex:0 0 auto;
  flex:0 0 auto;
  width:auto;
  max-width:none
 }
 .gdGrid .container {
  padding-right:8px;
  padding-left:8px
 }
 .gdGrid .row {
  margin-right:-8px;
  margin-left:-8px
 }
 .gdGrid [class*=col-] {
  padding-right:8px;
  padding-left:8px
 }
 .gdGrid .col-md-1 {
  -ms-flex:0 0 8.33333%;
  flex:0 0 8.33333%;
  max-width:8.33333%
 }
 .gdGrid .col-md-2 {
  -ms-flex:0 0 16.66667%;
  flex:0 0 16.66667%;
  max-width:16.66667%
 }
 .gdGrid .col-md-3 {
  -ms-flex:0 0 25%;
  flex:0 0 25%;
  max-width:25%
 }
 .gdGrid .col-md-4 {
  -ms-flex:0 0 33.33333%;
  flex:0 0 33.33333%;
  max-width:33.33333%
 }
 .gdGrid .col-md-5 {
  -ms-flex:0 0 41.66667%;
  flex:0 0 41.66667%;
  max-width:41.66667%
 }
 .gdGrid .col-md-6 {
  -ms-flex:0 0 50%;
  flex:0 0 50%;
  max-width:50%
 }
 .gdGrid .col-md-7 {
  -ms-flex:0 0 58.33333%;
  flex:0 0 58.33333%;
  max-width:58.33333%
 }
 .gdGrid .col-md-8 {
  -ms-flex:0 0 66.66667%;
  flex:0 0 66.66667%;
  max-width:66.66667%
 }
 .gdGrid .col-md-9 {
  -ms-flex:0 0 75%;
  flex:0 0 75%;
  max-width:75%
 }
 .gdGrid .col-md-10 {
  -ms-flex:0 0 83.33333%;
  flex:0 0 83.33333%;
  max-width:83.33333%
 }
 .gdGrid .col-md-11 {
  -ms-flex:0 0 91.66667%;
  flex:0 0 91.66667%;
  max-width:91.66667%
 }
 .gdGrid .col-md-12 {
  -ms-flex:0 0 100%;
  flex:0 0 100%;
  max-width:100%
 }
 .gdGrid .order-md-1 {
  -ms-flex-order:1;
  order:1
 }
 .gdGrid .order-md-2 {
  -ms-flex-order:2;
  order:2
 }
 .gdGrid .order-md-3 {
  -ms-flex-order:3;
  order:3
 }
 .gdGrid .order-md-4 {
  -ms-flex-order:4;
  order:4
 }
 .gdGrid .order-md-5 {
  -ms-flex-order:5;
  order:5
 }
 .gdGrid .order-md-6 {
  -ms-flex-order:6;
  order:6
 }
 .gdGrid .order-md-7 {
  -ms-flex-order:7;
  order:7
 }
 .gdGrid .order-md-8 {
  -ms-flex-order:8;
  order:8
 }
 .gdGrid .order-md-9 {
  -ms-flex-order:9;
  order:9
 }
 .gdGrid .order-md-10 {
  -ms-flex-order:10;
  order:10
 }
 .gdGrid .order-md-11 {
  -ms-flex-order:11;
  order:11
 }
 .gdGrid .order-md-12 {
  -ms-flex-order:12;
  order:12
 }
}
@media (min-width:992px) {
 .gdGrid .col-lg {
  -ms-flex-preferred-size:0;
  flex-basis:0;
  -ms-flex-positive:1;
  flex-grow:1;
  max-width:100%
 }
 .gdGrid .col-lg-auto {
  -ms-flex:0 0 auto;
  flex:0 0 auto;
  width:auto;
  max-width:none
 }
 .gdGrid .container {
  padding-right:8px;
  padding-left:8px
 }
 .gdGrid .row {
  margin-right:-8px;
  margin-left:-8px
 }
 .gdGrid [class*=col-] {
  padding-right:8px;
  padding-left:8px
 }
 .gdGrid .col-lg-1 {
  -ms-flex:0 0 8.33333%;
  flex:0 0 8.33333%;
  max-width:8.33333%
 }
 .gdGrid .col-lg-2 {
  -ms-flex:0 0 16.66667%;
  flex:0 0 16.66667%;
  max-width:16.66667%
 }
 .gdGrid .col-lg-3 {
  -ms-flex:0 0 25%;
  flex:0 0 25%;
  max-width:25%
 }
 .gdGrid .col-lg-4 {
  -ms-flex:0 0 33.33333%;
  flex:0 0 33.33333%;
  max-width:33.33333%
 }
 .gdGrid .col-lg-5 {
  -ms-flex:0 0 41.66667%;
  flex:0 0 41.66667%;
  max-width:41.66667%
 }
 .gdGrid .col-lg-6 {
  -ms-flex:0 0 50%;
  flex:0 0 50%;
  max-width:50%
 }
 .gdGrid .col-lg-7 {
  -ms-flex:0 0 58.33333%;
  flex:0 0 58.33333%;
  max-width:58.33333%
 }
 .gdGrid .col-lg-8 {
  -ms-flex:0 0 66.66667%;
  flex:0 0 66.66667%;
  max-width:66.66667%
 }
 .gdGrid .col-lg-9 {
  -ms-flex:0 0 75%;
  flex:0 0 75%;
  max-width:75%
 }
 .gdGrid .col-lg-10 {
  -ms-flex:0 0 83.33333%;
  flex:0 0 83.33333%;
  max-width:83.33333%
 }
 .gdGrid .col-lg-11 {
  -ms-flex:0 0 91.66667%;
  flex:0 0 91.66667%;
  max-width:91.66667%
 }
 .gdGrid .col-lg-12 {
  -ms-flex:0 0 100%;
  flex:0 0 100%;
  max-width:100%
 }
 .gdGrid .order-lg-1 {
  -ms-flex-order:1;
  order:1
 }
 .gdGrid .order-lg-2 {
  -ms-flex-order:2;
  order:2
 }
 .gdGrid .order-lg-3 {
  -ms-flex-order:3;
  order:3
 }
 .gdGrid .order-lg-4 {
  -ms-flex-order:4;
  order:4
 }
 .gdGrid .order-lg-5 {
  -ms-flex-order:5;
  order:5
 }
 .gdGrid .order-lg-6 {
  -ms-flex-order:6;
  order:6
 }
 .gdGrid .order-lg-7 {
  -ms-flex-order:7;
  order:7
 }
 .gdGrid .order-lg-8 {
  -ms-flex-order:8;
  order:8
 }
 .gdGrid .order-lg-9 {
  -ms-flex-order:9;
  order:9
 }
 .gdGrid .order-lg-10 {
  -ms-flex-order:10;
  order:10
 }
 .gdGrid .order-lg-11 {
  -ms-flex-order:11;
  order:11
 }
 .gdGrid .order-lg-12 {
  -ms-flex-order:12;
  order:12
 }
}
@media (min-width:1360px) {
 .gdGrid .col-xl {
  -ms-flex-preferred-size:0;
  flex-basis:0;
  -ms-flex-positive:1;
  flex-grow:1;
  max-width:100%
 }
 .gdGrid .col-xl-auto {
  -ms-flex:0 0 auto;
  flex:0 0 auto;
  width:auto;
  max-width:none
 }
 .gdGrid .container {
  padding-right:8px;
  padding-left:8px
 }
 .gdGrid .row {
  margin-right:-8px;
  margin-left:-8px
 }
 .gdGrid [class*=col-] {
  padding-right:8px;
  padding-left:8px
 }
 .gdGrid .col-xl-1 {
  -ms-flex:0 0 8.33333%;
  flex:0 0 8.33333%;
  max-width:8.33333%
 }
 .gdGrid .col-xl-2 {
  -ms-flex:0 0 16.66667%;
  flex:0 0 16.66667%;
  max-width:16.66667%
 }
 .gdGrid .col-xl-3 {
  -ms-flex:0 0 25%;
  flex:0 0 25%;
  max-width:25%
 }
 .gdGrid .col-xl-4 {
  -ms-flex:0 0 33.33333%;
  flex:0 0 33.33333%;
  max-width:33.33333%
 }
 .gdGrid .col-xl-5 {
  -ms-flex:0 0 41.66667%;
  flex:0 0 41.66667%;
  max-width:41.66667%
 }
 .gdGrid .col-xl-6 {
  -ms-flex:0 0 50%;
  flex:0 0 50%;
  max-width:50%
 }
 .gdGrid .col-xl-7 {
  -ms-flex:0 0 58.33333%;
  flex:0 0 58.33333%;
  max-width:58.33333%
 }
 .gdGrid .col-xl-8 {
  -ms-flex:0 0 66.66667%;
  flex:0 0 66.66667%;
  max-width:66.66667%
 }
 .gdGrid .col-xl-9 {
  -ms-flex:0 0 75%;
  flex:0 0 75%;
  max-width:75%
 }
 .gdGrid .col-xl-10 {
  -ms-flex:0 0 83.33333%;
  flex:0 0 83.33333%;
  max-width:83.33333%
 }
 .gdGrid .col-xl-11 {
  -ms-flex:0 0 91.66667%;
  flex:0 0 91.66667%;
  max-width:91.66667%
 }
 .gdGrid .col-xl-12 {
  -ms-flex:0 0 100%;
  flex:0 0 100%;
  max-width:100%
 }
 .gdGrid .order-xl-1 {
  -ms-flex-order:1;
  order:1
 }
 .gdGrid .order-xl-2 {
  -ms-flex-order:2;
  order:2
 }
 .gdGrid .order-xl-3 {
  -ms-flex-order:3;
  order:3
 }
 .gdGrid .order-xl-4 {
  -ms-flex-order:4;
  order:4
 }
 .gdGrid .order-xl-5 {
  -ms-flex-order:5;
  order:5
 }
 .gdGrid .order-xl-6 {
  -ms-flex-order:6;
  order:6
 }
 .gdGrid .order-xl-7 {
  -ms-flex-order:7;
  order:7
 }
 .gdGrid .order-xl-8 {
  -ms-flex-order:8;
  order:8
 }
 .gdGrid .order-xl-9 {
  -ms-flex-order:9;
  order:9
 }
 .gdGrid .order-xl-10 {
  -ms-flex-order:10;
  order:10
 }
 .gdGrid .order-xl-11 {
  -ms-flex-order:11;
  order:11
 }
 .gdGrid .order-xl-12 {
  -ms-flex-order:12;
  order:12
 }
}
footer:not(.light-footer) #footer.darkBg,footer:not(.light-footer) #footer.darkBg a,footer:not(.light-footer) #footer.darkBg a:hover,footer:not(.light-footer) #footer.darkBg a:link,footer:not(.light-footer) #footer.darkBg a:visited {
 color:#fff
}
footer nav {
 max-width:1024px;
 padding-top:35px
}
.social-profile-btns ul.social-profile-icon-list,footer nav {
 margin:0 auto
}
.social-profile-btns ul.social-profile-icon-list>li.cell {
 display:table-cell!important;
 padding-right:12px
}
.social-profile-btns ul.social-profile-icon-list>li.cell:last-of-type {
 padding-right:0
}
.social-profile-btns ul.social-profile-icon-list a.social-share-icon:hover #social-icon-glassdoor #Oval {
 fill:#0caa41
}
.social-profile-btns ul.social-profile-icon-list a.social-share-icon:hover #social-icon-facebook #Oval {
 fill:#3b5998
}
.social-profile-btns ul.social-profile-icon-list a.social-share-icon:hover #social-icon-twitter #Oval {
 fill:#1e90ff
}
.social-profile-btns ul.social-profile-icon-list a.social-share-icon:hover #social-icon-youtube #Oval {
 fill:#dc4e41
}
.social-profile-btns ul.social-profile-icon-list a.social-share-icon:hover #social-icon-instagram circle {
 fill:#e1306c
}
.appStoreCTA svg #apple #apple-leaf {
 fill:#fff
}
.appStoreCTA svg #apple rect {
 fill-opacity:0
}
.appStoreCTA svg:hover #apple #apple-leaf {
 fill:#6cbf40
}
.appStoreCTA svg:hover #apple rect {
 fill-opacity:1
}
.appStoreCTA svg:hover #android #Group {
 fill:#a4c639
}
footer:not(.light-footer) #footer.darkBg {
 background:#404040
}
footer:not(.light-footer) #footer.darkBg p,footer:not(.light-footer) #footer.darkBg span {
 color:#fff
}
footer.light-footer .linkColor,footer.light-footer a,footer.light-footer a:link,footer.light-footer a:visited {
 color:#404040
}
footer.light-footer .copyright a {
 text-decoration:underline
}
footer li,footer ul {
 padding:0;
 margin:0;
 list-style:none
}
footer hr {
 border:none;
 border-top:1px solid #7f7f7f
}
footer .logo-stack {
 display:-ms-flexbox;
 display:flex;
 -ms-flex-line-pack:center;
 align-content:center;
 -ms-flex-direction:column;
 flex-direction:column;
 -ms-flex-pack:center;
 justify-content:center
}
footer .logo-stack svg {
 margin:0 auto
}
@media (max-width:766px) {
 footer .logo-stack {
  margin-top:24px
 }
}
footer .footerMenuHead {
 margin:0 0 20px;
 font-weight:700;
 font-size:18px
}
footer .copyright,footer .footerText {
 padding:1px 24px;
 max-width:1024px;
 margin:0 auto
}
footer .browseLinks a {
 text-decoration:underline
}
footer .browseLinks .sepafter:after {
 content:", "
}
footer .browseLinks .sepafter:last-child:after {
 content:""
}
footer .socialIconList {
 display:-ms-flexbox;
 display:flex
}
footer .socialIconList .df {
 padding:0 8px
}
footer .socialIconList a.socialShareIcon:hover .glassdoor-svg ellipse {
 fill:#0caa41
}
footer .socialIconList a.socialShareIcon:hover .facebook-svg ellipse {
 fill:#3b5998
}
footer .socialIconList a.socialShareIcon:hover .twitter-svg ellipse {
 fill:#1e90ff
}
footer .socialIconList a.socialShareIcon:hover .youtube-svg #Oval {
 fill:#dc4e41
}
footer .socialIconList a.socialShareIcon:hover .instagram-svg circle {
 fill:#e1306c
}
footer .appStoreCTA {
 display:-ms-flexbox;
 display:flex;
 margin-top:24px
}
footer .appStoreCTA .df {
 padding:0 8px
}
footer .appStoreCTA a.socialShareIcon:hover .android-svg #Group {
 fill:#a4c639
}
footer .sep {
 margin:0 8px;
 background:transparent
}
footer .narrowContent .helpLinks {
 display:-ms-flexbox;
 display:flex;
 -ms-flex-pack:distribute;
 justify-content:space-around;
 max-width:80%;
 margin:24px auto;
 font-size:14px
}
footer .narrowContent .countryPicker {
 max-width:50%;
 margin:16px auto 0;
 padding-bottom:0!important
}
footer .narrowContent+.copyright p {
 font-size:14px
}
