.node_modules-gd-react-toolbox-lib-radio-theme__radio,.node_modules-gd-react-toolbox-lib-radio-theme__radioChecked {
 position:relative;
 display:inline-block;
 width:1.4rem;
 height:1.4rem;
 vertical-align:top;
 cursor:pointer;
 border:.1rem solid #000;
 border-radius:50%
}
.node_modules-gd-react-toolbox-lib-radio-theme__radio:before,.node_modules-gd-react-toolbox-lib-radio-theme__radioChecked:before {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 content:"";
 background-color:#4caf50;
 border-radius:50%;
 transition:transform .35s cubic-bezier(.4,0,.2,1);
 transform:scale(0)
}
.node_modules-gd-react-toolbox-lib-radio-theme__radio .node_modules-gd-react-toolbox-lib-radio-theme__ripple,.node_modules-gd-react-toolbox-lib-radio-theme__radioChecked .node_modules-gd-react-toolbox-lib-radio-theme__ripple {
 background-color:#4caf50;
 opacity:.3;
 transition-duration:.65s
}
.node_modules-gd-react-toolbox-lib-radio-theme__radioChecked {
 border:.4rem solid #4caf50
}
.node_modules-gd-react-toolbox-lib-radio-theme__radioChecked:before {
 transform:scale(.65)
}
.node_modules-gd-react-toolbox-lib-radio-theme__disabled,.node_modules-gd-react-toolbox-lib-radio-theme__field {
 position:relative;
 display:block;
 height:1.4rem;
 margin-bottom:1.5rem;
 white-space:nowrap;
 vertical-align:middle
}
.node_modules-gd-react-toolbox-lib-radio-theme__text {
 display:inline-block;
 padding-left:1rem;
 font-size:1.4rem;
 line-height:1.4rem;
 color:#000;
 white-space:nowrap;
 vertical-align:top
}
.node_modules-gd-react-toolbox-lib-radio-theme__input {
 position:absolute;
 width:0;
 height:0;
 padding:0;
 margin:0;
 border:0;
 opacity:0;
 appearance:none
}
.node_modules-gd-react-toolbox-lib-radio-theme__input:focus~.node_modules-gd-react-toolbox-lib-radio-theme__radio,.node_modules-gd-react-toolbox-lib-radio-theme__input:focus~.node_modules-gd-react-toolbox-lib-radio-theme__radioChecked {
 box-shadow:0 0 0 1rem rgba(0,0,0,.1)
}
.node_modules-gd-react-toolbox-lib-radio-theme__input:focus~.node_modules-gd-react-toolbox-lib-radio-theme__radioChecked {
 box-shadow:0 0 0 1rem rgba(76,175,80,.26)
}
.node_modules-gd-react-toolbox-lib-radio-theme__disabled .node_modules-gd-react-toolbox-lib-radio-theme__text {
 color:rgba(0,0,0,.26)
}
.node_modules-gd-react-toolbox-lib-radio-theme__disabled .node_modules-gd-react-toolbox-lib-radio-theme__radio,.node_modules-gd-react-toolbox-lib-radio-theme__disabled .node_modules-gd-react-toolbox-lib-radio-theme__radioChecked {
 cursor:auto;
 border-color:rgba(0,0,0,.26)
}
.node_modules-gd-react-toolbox-lib-radio-theme__disabled .node_modules-gd-react-toolbox-lib-radio-theme__radioChecked:before {
 background-color:rgba(0,0,0,.26)
}
.src-views-AdditionalInformationModalStyle__additionalInfoText,.src-views-AdditionalInformationModalStyle__employerName,.src-views-AdditionalInformationModalStyle__employerURL {
 padding:0!important
}
.src-views-AdditionalInformationModalStyle__additionalInfoText textarea,.src-views-AdditionalInformationModalStyle__employerName textarea,.src-views-AdditionalInformationModalStyle__employerURL textarea {
 border:1px solid #404040;
 font-size:15px;
 padding:12px;
 width:100%
}
.src-views-AdditionalInformationModalStyle__additionalInfoText textarea.src-views-AdditionalInformationModalStyle__placeholder,.src-views-AdditionalInformationModalStyle__employerName textarea.src-views-AdditionalInformationModalStyle__placeholder,.src-views-AdditionalInformationModalStyle__employerURL textarea.src-views-AdditionalInformationModalStyle__placeholder {
 color:#404040
}
.src-views-AdditionalInformationModalStyle__additionalInfoTextError,.src-views-AdditionalInformationModalStyle__employerNameError,.src-views-AdditionalInformationModalStyle__employerURLError {
 padding:0!important
}
.src-views-AdditionalInformationModalStyle__additionalInfoTextError textarea,.src-views-AdditionalInformationModalStyle__employerNameError textarea,.src-views-AdditionalInformationModalStyle__employerURLError textarea {
 border:1px solid #eb4133;
 font-size:15px;
 padding:12px;
 width:100%
}
.src-views-AdditionalInformationModalStyle__additionalInfoTextError textarea.src-views-AdditionalInformationModalStyle__placeholder,.src-views-AdditionalInformationModalStyle__employerNameError textarea.src-views-AdditionalInformationModalStyle__placeholder,.src-views-AdditionalInformationModalStyle__employerURLError textarea.src-views-AdditionalInformationModalStyle__placeholder,.src-views-AdditionalInformationModalStyle__flagLabel {
 color:#404040
}
.src-views-AdditionalInformationModalStyle__infoText textarea {
 padding:8px
}
.src-views-AdditionalInformationModalStyle__showError {
 font-size:10px;
 color:#c7372b
}
.src-components-flagModalForm-OptionStyle__contentStyle option {
 display:flex;
 flex-direction:row;
 flex-grow:2;
 background-color:#fff
}
.src-components-flagModalForm-OptionStyle__submitBtn {
 width:100%
}
.src-components-flagModalForm-OptionStyle__submitBtn>button {
 padding-left:28px;
 padding-right:28px
}
.src-components-flagModalForm-OptionStyle__radioInlineLabel .src-components-flagModalForm-OptionStyle__radio,.src-components-flagModalForm-OptionStyle__radioInlineLabel .src-components-flagModalForm-OptionStyle__radioChecked {
 width:15px;
 height:15px;
 border:1px solid #00a1df
}
.src-components-flagModalForm-OptionStyle__radioInlineLabel .src-components-flagModalForm-OptionStyle__radio:before,.src-components-flagModalForm-OptionStyle__radioInlineLabel .src-components-flagModalForm-OptionStyle__radioChecked:before {
 background-color:#fff
}
.src-components-flagModalForm-OptionStyle__radioInlineLabel .src-components-flagModalForm-OptionStyle__radio .src-components-flagModalForm-OptionStyle__ripple,.src-components-flagModalForm-OptionStyle__radioInlineLabel .src-components-flagModalForm-OptionStyle__radioChecked .src-components-flagModalForm-OptionStyle__ripple {
 background-color:#fff;
 opacity:.3;
 transition-duration:.65s
}
.src-components-flagModalForm-OptionStyle__radioInlineLabel .src-components-flagModalForm-OptionStyle__radioChecked {
 border-width:5px
}
.src-components-flagModalForm-OptionStyle__radioInlineLabel .src-components-flagModalForm-OptionStyle__radioChecked:before {
 background-color:#fff;
 border-radius:100%;
 transform:scale(.65)
}
.src-components-flagModalForm-OptionStyle__radioInlineLabel .src-components-flagModalForm-OptionStyle__radioChecked .src-components-flagModalForm-OptionStyle__ripple {
 background-color:#fff;
 opacity:.3;
 transition-duration:.65s
}
.src-components-flagModalForm-OptionStyle__radioInlineLabel .src-components-flagModalForm-OptionStyle__field {
 position:relative;
 display:block;
 height:1em;
 margin-bottom:1em;
 white-space:nowrap;
 vertical-align:middle
}
.src-components-flagModalForm-OptionStyle__radioInlineLabel .src-components-flagModalForm-OptionStyle__text {
 display:inline-block;
 padding-left:1rem;
 font-size:15px;
 line-height:1em;
 flex:auto
}
.src-components-flagModalForm-OptionStyle__radioInlineLabel .src-components-flagModalForm-OptionStyle__input {
 position:absolute;
 width:0;
 height:0;
 padding:0;
 margin:0;
 border:0;
 opacity:0;
 appearance:none
}
.src-components-flagModalForm-OptionStyle__radioInlineLabel>div {
 display:inline-block;
 margin-left:12px;
 font-size:15px
}
.src-components-flagModalForm-OptionStyle__flagReasonSelect {
 width:95%;
 padding-left:12px;
 margin-left:12px;
 display:flex;
 flex-direction:column;
 flex-grow:2;
 background-color:#fff;
 line-height:1.5em
}
.src-components-flagModalForm-OptionStyle__showError {
 font-size:10px;
 color:#c7372b;
 display:flex;
 align-items:center
}
.src-components-flagModalForm-OptionStyle__successCircle {
 width:40px;
 height:40px;
 position:relative;
 top:50%;
 display:flex;
 justify-content:center;
 width:100%
}
.src-components-flagModalForm-OptionStyle__gotItBtn {
 min-width:288px
}
.src-components-flagModalForm-OptionStyle__closeBtn {
 min-width:100px
}
.node_modules-gd-react-toolbox-lib-input-theme__input {
 position:relative;
 padding:2rem 0
}
.node_modules-gd-react-toolbox-lib-input-theme__input.node_modules-gd-react-toolbox-lib-input-theme__withIcon {
 margin-left:6.8rem
}
.node_modules-gd-react-toolbox-lib-input-theme__icon {
 position:absolute;
 top:1.6rem;
 left:-6.8rem;
 display:block;
 width:4.8rem;
 height:4.8rem;
 font-size:2.4rem!important;
 line-height:4.8rem!important;
 color:rgba(0,0,0,.26);
 text-align:center;
 transition:color .35s cubic-bezier(.4,0,.2,1)
}
.node_modules-gd-react-toolbox-lib-input-theme__inputElement {
 display:block;
 width:100%;
 padding:.8rem 0 .4rem;
 font-size:1.5rem;
 color:#212121;
 background-color:transparent;
 border:0;
 border-bottom:1px solid hsla(0,0%,60%,.9);
 outline:none
}
.node_modules-gd-react-toolbox-lib-input-theme__inputElement:focus:not([disabled]):not([readonly])~.node_modules-gd-react-toolbox-lib-input-theme__bar:after,.node_modules-gd-react-toolbox-lib-input-theme__inputElement:focus:not([disabled]):not([readonly])~.node_modules-gd-react-toolbox-lib-input-theme__bar:before {
 width:50%
}
.node_modules-gd-react-toolbox-lib-input-theme__inputElement:focus:not([disabled]):not([readonly])~.node_modules-gd-react-toolbox-lib-input-theme__label:not(.node_modules-gd-react-toolbox-lib-input-theme__fixed) {
 font-weight:700;
 color:#999
}
.node_modules-gd-react-toolbox-lib-input-theme__inputElement:focus:not([disabled]):not([readonly])~.node_modules-gd-react-toolbox-lib-input-theme__label>.node_modules-gd-react-toolbox-lib-input-theme__required {
 font-weight:700;
 color:#de3226
}
.node_modules-gd-react-toolbox-lib-input-theme__inputElement:focus:not([disabled]):not([readonly])~.node_modules-gd-react-toolbox-lib-input-theme__hint {
 display:block;
 opacity:1
}
.node_modules-gd-react-toolbox-lib-input-theme__inputElement:focus:not([disabled]):not([readonly])~.node_modules-gd-react-toolbox-lib-input-theme__icon {
 color:#999
}
.node_modules-gd-react-toolbox-lib-input-theme__inputElement.node_modules-gd-react-toolbox-lib-input-theme__filled~.node_modules-gd-react-toolbox-lib-input-theme__label:not(.node_modules-gd-react-toolbox-lib-input-theme__fixed),.node_modules-gd-react-toolbox-lib-input-theme__inputElement:focus:not([disabled]):not([readonly])~.node_modules-gd-react-toolbox-lib-input-theme__label:not(.node_modules-gd-react-toolbox-lib-input-theme__fixed),.node_modules-gd-react-toolbox-lib-input-theme__inputElement[type=date]~.node_modules-gd-react-toolbox-lib-input-theme__label:not(.node_modules-gd-react-toolbox-lib-input-theme__fixed),.node_modules-gd-react-toolbox-lib-input-theme__inputElement[type=time]~.node_modules-gd-react-toolbox-lib-input-theme__label:not(.node_modules-gd-react-toolbox-lib-input-theme__fixed) {
 top:.6rem;
 font-size:1.2rem;
 font-weight:700
}
.node_modules-gd-react-toolbox-lib-input-theme__inputElement.node_modules-gd-react-toolbox-lib-input-theme__filled.node_modules-gd-react-toolbox-lib-input-theme__filled~.node_modules-gd-react-toolbox-lib-input-theme__hint,.node_modules-gd-react-toolbox-lib-input-theme__inputElement:focus:not([disabled]):not([readonly]).node_modules-gd-react-toolbox-lib-input-theme__filled~.node_modules-gd-react-toolbox-lib-input-theme__hint,.node_modules-gd-react-toolbox-lib-input-theme__inputElement[type=date].node_modules-gd-react-toolbox-lib-input-theme__filled~.node_modules-gd-react-toolbox-lib-input-theme__hint,.node_modules-gd-react-toolbox-lib-input-theme__inputElement[type=time].node_modules-gd-react-toolbox-lib-input-theme__filled~.node_modules-gd-react-toolbox-lib-input-theme__hint {
 opacity:0
}
.node_modules-gd-react-toolbox-lib-input-theme__inputElement.node_modules-gd-react-toolbox-lib-input-theme__filled~.node_modules-gd-react-toolbox-lib-input-theme__hint,.node_modules-gd-react-toolbox-lib-input-theme__inputElement.node_modules-gd-react-toolbox-lib-input-theme__filled~.node_modules-gd-react-toolbox-lib-input-theme__label.node_modules-gd-react-toolbox-lib-input-theme__fixed {
 display:none
}
.node_modules-gd-react-toolbox-lib-input-theme__label {
 position:absolute;
 top:3.2rem;
 left:0;
 font-weight:400;
 line-height:1.5rem;
 color:#999;
 pointer-events:none;
 transition-timing-function:cubic-bezier(.4,0,.2,1);
 transition-duration:.35s;
 transition-property:top,font-size,color
}
.node_modules-gd-react-toolbox-lib-input-theme__label.node_modules-gd-react-toolbox-lib-input-theme__fixed~.node_modules-gd-react-toolbox-lib-input-theme__hint {
 display:none
}
.node_modules-gd-react-toolbox-lib-input-theme__hint {
 position:absolute;
 top:3.2rem;
 left:0;
 font-size:1.5rem;
 line-height:1.5rem;
 color:rgba(0,0,0,.26);
 pointer-events:none;
 opacity:1;
 transition-timing-function:cubic-bezier(.4,0,.2,1);
 transition-duration:.35s;
 transition-property:opacity
}
.node_modules-gd-react-toolbox-lib-input-theme__bar {
 position:relative;
 display:block;
 width:100%
}
.node_modules-gd-react-toolbox-lib-input-theme__bar:after,.node_modules-gd-react-toolbox-lib-input-theme__bar:before {
 transition-timing-function:cubic-bezier(.4,0,.2,1);
 transition-duration:.2s;
 position:absolute;
 bottom:0;
 width:0;
 height:2px;
 content:"";
 background-color:#4caf50;
 transition-property:width,background-color
}
.node_modules-gd-react-toolbox-lib-input-theme__bar:before {
 left:50%
}
.node_modules-gd-react-toolbox-lib-input-theme__bar:after {
 right:50%
}
.node_modules-gd-react-toolbox-lib-input-theme__counter,.node_modules-gd-react-toolbox-lib-input-theme__error {
 margin-bottom:-2rem;
 font-size:1.4rem;
 line-height:2rem;
 color:#de3226
}
.node_modules-gd-react-toolbox-lib-input-theme__counter {
 position:absolute;
 right:0;
 color:rgba(0,0,0,.26)
}
.node_modules-gd-react-toolbox-lib-input-theme__disabled>.node_modules-gd-react-toolbox-lib-input-theme__inputElement {
 color:rgba(0,0,0,.26);
 border-bottom-style:dotted
}
.node_modules-gd-react-toolbox-lib-input-theme__errored {
 padding-bottom:0
}
.node_modules-gd-react-toolbox-lib-input-theme__errored>.node_modules-gd-react-toolbox-lib-input-theme__inputElement {
 margin-top:1px;
 border-bottom-color:#de3226
}
.node_modules-gd-react-toolbox-lib-input-theme__errored>.node_modules-gd-react-toolbox-lib-input-theme__counter,.node_modules-gd-react-toolbox-lib-input-theme__errored>.node_modules-gd-react-toolbox-lib-input-theme__label,.node_modules-gd-react-toolbox-lib-input-theme__errored>.node_modules-gd-react-toolbox-lib-input-theme__label>.node_modules-gd-react-toolbox-lib-input-theme__required {
 color:#de3226
}
.node_modules-gd-react-toolbox-lib-input-theme__hidden {
 display:none
}
.node_modules-gd-react-toolbox-lib-ripple-theme__ripple {
 position:absolute;
 top:50%;
 left:50%;
 z-index:100;
 pointer-events:none;
 background-color:currentColor;
 border-radius:50%;
 transform-origin:50% 50%
}
.node_modules-gd-react-toolbox-lib-ripple-theme__rippleWrapper {
 position:absolute;
 top:0;
 right:0;
 bottom:0;
 left:0;
 z-index:1;
 pointer-events:none
}
.node_modules-gd-react-toolbox-lib-ripple-theme__ripple {
 transition-duration:.8s
}
.node_modules-gd-react-toolbox-lib-ripple-theme__ripple.node_modules-gd-react-toolbox-lib-ripple-theme__rippleRestarting {
 opacity:.3;
 transition-property:none
}
.node_modules-gd-react-toolbox-lib-ripple-theme__ripple.node_modules-gd-react-toolbox-lib-ripple-theme__rippleActive {
 opacity:.3;
 transition-property:transform
}
.node_modules-gd-react-toolbox-lib-ripple-theme__ripple:not(.node_modules-gd-react-toolbox-lib-ripple-theme__rippleActive):not(.node_modules-gd-react-toolbox-lib-ripple-theme__rippleRestarting) {
 opacity:0;
 transition-property:opacity,transform
}
.src-components-flagModalForm-EmployerResponseFooterStyle__employerResponseFooter {
 padding-top:20px;
 border-top:1px solid #e7e7e7
}
.src-components-flagModalForm-ReportReviewStyle__reportThisReview {
 width:100%;
 font-weight:700;
 line-height:1.35;
 text-align:left;
 text-indent:24px;
 color:#0d0d0d;
 padding-bottom:20px;
 border-bottom:1px solid #e7e7e7
}
