@CHARSET "UTF-8";
.pageNavBar {
 display:table;
 margin:16px 0 0 0 !important;
 vertical-align:middle
}
.pageNavBar .pagingRange {
 text-align:left;
 width:auto
}
.pageNavBar .pagingRange * {
 vertical-align:middle
}
@media only screen and (max-width: 767px) {
 .pageNavBar .pagingRange {
  display:block;
  text-align:right;
  padding-bottom:16px
 }
}
.pageNavBar .pagingControls {
 width:auto;
 text-align:right;
 list-style-type:none;
 white-space:nowrap;
 max-width:100%;
 font-size:0
}
.pageNavBar .pagingControls.center {
 float:none;
 margin:12px auto;
 text-align:center
}
.pageNavBar .pagingControls ul {
 height:35px;
 width:auto;
 margin:0 auto;
 padding:0 !important;
 font-size:0
}
@media only screen and (max-width: 767px) {
 .pageNavBar .pagingControls {
  display:block;
  text-align:right
 }
}
.pageNavBar div.totalResults {
 text-align:center;
 color:#aaa;
 margin-top:12px
}
.pageNavBar span.noResults {
 color:#888;
 font-size:15px
}
body div.pagingControls {
 font-size:0;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
body div.pagingControls ul.shadowed {
 -webkit-box-shadow:0 2px 5px rgba(200,200,200,0.5);
 box-shadow:0 2px 5px rgba(200,200,200,0.5)
}
body div.pagingControls ul {
 display:inline-block
}
body div.pagingControls ul li {
 display:inline-block;
 margin:0 1px;
 color:#7f7f7f;
 margin:0;
 display:inline-block
}
body div.pagingControls li>span,body div.pagingControls li>a {
 display:inline-block;
 min-width:35px;
 border:1px solid #c2c2c2;
 border-radius:2px;
 line-height:34px;
 text-align:center;
 vertical-align:middle;
 font-size:15px;
 background-color:#fff;
 cursor:pointer;
 height:35px
}
body div.pagingControls li.page>span,body div.pagingControls li.page>a {
 border-radius:0;
 border-right-width:0
}
body div.pagingControls li.page.last>span,body div.pagingControls li.page.last>a {
 border-right-width:1px;
 border-top-right-radius:2px;
 border-bottom-right-radius:2px
}
body div.pagingControls li.page:first-child>span,body div.pagingControls li.page:first-child>a {
 border-left-width:1px;
 border-top-left-radius:2px;
 border-bottom-left-radius:2px
}
body div.pagingControls li>a:hover,body div.pagingControls li span.link:hover {
 text-decoration:none;
 background:#f8f8f8 none
}
body div.pagingControls li .disabled,body div.pagingControls li .disabled:hover {
 cursor:default;
 background:#fff none
}
body div.pagingControls li.prev a,body div.pagingControls li.prev span,body div.pagingControls li.next a,body div.pagingControls li.next span {
 height:35px;
 line-height:1em
}
body div.pagingControls li.prev a i,body div.pagingControls li.prev span i,body div.pagingControls li.next a i,body div.pagingControls li.next span i {
 margin-top:9px;
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide.png?v=9ce3dc8zr");
 background-position:-20px -206px;
 width:10px;
 height:16px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 body div.pagingControls li.prev a i,body div.pagingControls li.prev span i,body div.pagingControls li.next a i,body div.pagingControls li.next span i {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide2x.png?v=ea3015i6n");
  -webkit-background-size:233px 222px;
  background-size:233px 222px
 }
}
body div.pagingControls li.prev {
 margin-right:12px
}
body div.pagingControls li.prev span.disabled i {
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide.png?v=9ce3dc8zr");
 background-position:-30px -206px;
 width:10px;
 height:16px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 body div.pagingControls li.prev span.disabled i {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide2x.png?v=ea3015i6n");
  -webkit-background-size:233px 222px;
  background-size:233px 222px
 }
}
body div.pagingControls li.next {
 margin-left:12px
}
body div.pagingControls li.next span i,body div.pagingControls li.next a i {
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide.png?v=9ce3dc8zr");
 background-position:-10px -206px;
 width:10px;
 height:16px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 body div.pagingControls li.next span i,body div.pagingControls li.next a i {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide2x.png?v=ea3015i6n");
  -webkit-background-size:233px 222px;
  background-size:233px 222px
 }
}
body div.pagingControls li.next span.disabled i {
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide.png?v=9ce3dc8zr");
 background-position:0px -206px;
 width:10px;
 height:16px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 body div.pagingControls li.next span.disabled i {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide2x.png?v=ea3015i6n");
  -webkit-background-size:233px 222px;
  background-size:233px 222px
 }
}
body div.pagingControls li.current span {
 font-weight:bold;
 color:#fff;
 background:#00A1DF none
}
body div.pagingControls li.current span:hover {
 background:#00A1DF none
}
body.mobileDevice div.pagingControls ul {
 height:40px
}
body.mobileDevice div.pagingControls li>span,body.mobileDevice div.pagingControls li>a {
 min-width:40px;
 line-height:40px;
 font-size:15px;
 height:40px
}
body.mobileDevice div.pagingControls li.prev a,body.mobileDevice div.pagingControls li.prev span,body.mobileDevice div.pagingControls li.next a,body.mobileDevice div.pagingControls li.next span {
 height:40px;
 line-height:1em
}
body.mobileDevice div.pagingControls li.prev a i,body.mobileDevice div.pagingControls li.prev span i,body.mobileDevice div.pagingControls li.next a i,body.mobileDevice div.pagingControls li.next span i {
 margin-top:13px
}
#EIHdrModule,.eiHdrModule {
 position:relative;
 min-height:60px;
 margin-bottom:0
}
#EIHdrModule i.icon-bullseye-select,.eiHdrModule i.icon-bullseye-select {
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/ei.png?v=9539fe3qb");
 background-position:-45px -97px;
 width:22px;
 height:22px;
 top:-10px;
 left:50%
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 #EIHdrModule i.icon-bullseye-select,.eiHdrModule i.icon-bullseye-select {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/ei2x.png?v=fa4e80708");
  -webkit-background-size:141px 120px;
  background-size:141px 120px
 }
}
#EIHdrModule i.icon-bullseye-unselect,.eiHdrModule i.icon-bullseye-unselect {
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/ei.png?v=9539fe3qb");
 background-position:-23px -97px;
 width:22px;
 height:22px;
 top:-10px;
 left:50%
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 #EIHdrModule i.icon-bullseye-unselect,.eiHdrModule i.icon-bullseye-unselect {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/ei2x.png?v=fa4e80708");
  -webkit-background-size:141px 120px;
  background-size:141px 120px
 }
}
@media only screen and (max-width: 767px) {
 #EIHdrModule i.icon-bullseye-unselect,.eiHdrModule i.icon-bullseye-unselect {
  -webkit-transform:scale(0.75);
  -ms-transform:scale(0.75);
  -o-transform:scale(0.75);
  transform:scale(0.75)
 }
}
#EIHdrModule i.camera,.eiHdrModule i.camera {
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/ei.png?v=9539fe3qb");
 background-position:-125px 0px;
 width:16px;
 height:12px;
 margin-right:8px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 #EIHdrModule i.camera,.eiHdrModule i.camera {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/ei2x.png?v=fa4e80708");
  -webkit-background-size:141px 120px;
  background-size:141px 120px
 }
}
@media only screen and (max-width: 767px) {
 #EIHdrModule i.camera,.eiHdrModule i.camera {
  margin-right:4px
 }
}
#EIHdrModule.locked,.eiHdrModule.locked {
 position:fixed;
 width:inherit;
 max-width:calc(992px);
 background-color:#fff;
 z-index:101;
 opacity:0.95
}
@media only screen and (max-width: 767px) {
 #EIHdrModule,.eiHdrModule {
  border-left-width:0;
  border-right-width:0;
  margin-top:0
 }
 #EIHdrModule div.buttons.tbl,.eiHdrModule div.buttons.tbl {
  display:inherit !important
 }
 #EIHdrModule div.buttons.tbl.hidden,.eiHdrModule div.buttons.tbl.hidden {
  display:none !important
 }
}
#EIHdrModule div.empInfo.tbl,.eiHdrModule div.empInfo.tbl {
 width:100%
}
#EIHdrModule div.empInfo.tbl .cell,.eiHdrModule div.empInfo.tbl .cell {
 width:67%;
 padding:16px 16px 16px 0;
 vertical-align:bottom;
 position:relative
}
#EIHdrModule div.empInfo.tbl div.logo.cell,.eiHdrModule div.empInfo.tbl div.logo.cell {
 width:3%;
 padding:16px;
 position:relative;
 z-index:5
}
#EIHdrModule div.empInfo.tbl div.logo.cell .sqLogo,.eiHdrModule div.empInfo.tbl div.logo.cell .sqLogo {
 position:relative;
 padding:0
}
@media only screen and (max-width: 767px) {
 #EIHdrModule div.empInfo.tbl div.logo.cell .sqLogo>span,#EIHdrModule div.empInfo.tbl div.logo.cell .sqLogo>img,.eiHdrModule div.empInfo.tbl div.logo.cell .sqLogo>span,.eiHdrModule div.empInfo.tbl div.logo.cell .sqLogo>img {
  line-height:70px;
  width:70px;
  height:70px
 }
}
@media only screen and (max-width: 767px) {
 #EIHdrModule div.empInfo.tbl div.logo.cell .sqLogo>i,.eiHdrModule div.empInfo.tbl div.logo.cell .sqLogo>i {
  background-position:0px -68px;
  width:50px;
  height:52px
 }
}
@media only screen and (max-width: 767px) {
 #EIHdrModule div.empInfo.tbl div.logo.cell .sqLogo>span,.eiHdrModule div.empInfo.tbl div.logo.cell .sqLogo>span {
  line-height:0
 }
}
#EIHdrModule div.empInfo.tbl div.header.cell,.eiHdrModule div.empInfo.tbl div.header.cell {
 padding-bottom:18px;
 vertical-align:bottom
}
#EIHdrModule div.empInfo.tbl div.header.cell p,#EIHdrModule div.empInfo.tbl div.header.cell h1,.eiHdrModule div.empInfo.tbl div.header.cell p,.eiHdrModule div.empInfo.tbl div.header.cell h1 {
 color:#000
}
#EIHdrModule div.empInfo.tbl div.header.cell a,.eiHdrModule div.empInfo.tbl div.header.cell a {
 line-height:1.33em
}
#EIHdrModule div.empInfo.tbl div.unlock,.eiHdrModule div.empInfo.tbl div.unlock {
 width:60%;
 text-align:right;
 position:relative;
 display:table-cell
}
#EIHdrModule div.empInfo.tbl div.unlock .sqLed,.eiHdrModule div.empInfo.tbl div.unlock .sqLed {
 margin-top:-2px;
 margin-right:5px
}
#EIHdrModule div.empInfo.tbl.hasHierarchyInfo,.eiHdrModule div.empInfo.tbl.hasHierarchyInfo {
 margin-top:-12px
}
#EIHdrModule div.empInfo.tbl.hasHierarchyInfo div.header.cell,.eiHdrModule div.empInfo.tbl.hasHierarchyInfo div.header.cell {
 padding-top:12px;
 padding-bottom:16px
}
#EIHdrModule div.empInfo.tbl.hasHierarchyInfo div.header.cell .hierarchyInfo,.eiHdrModule div.empInfo.tbl.hasHierarchyInfo div.header.cell .hierarchyInfo {
 display:block;
 font-size:14px;
 margin-bottom:0;
 margin-top:12px
}
@media only screen and (max-width: 767px) {
 #EIHdrModule div.empInfo.tbl.hasHierarchyInfo,.eiHdrModule div.empInfo.tbl.hasHierarchyInfo {
  margin-top:4px
 }
 #EIHdrModule div.empInfo.tbl.hasHierarchyInfo div.header.cell,.eiHdrModule div.empInfo.tbl.hasHierarchyInfo div.header.cell {
  padding-top:0px
 }
 #EIHdrModule div.empInfo.tbl.hasHierarchyInfo div.header.cell .hierarchyInfo,.eiHdrModule div.empInfo.tbl.hasHierarchyInfo div.header.cell .hierarchyInfo {
  margin-top:-2px
 }
}
#SearchResults #EIHdrModule .hasHierarchyInfo,#SearchResults .eiHdrModule .hasHierarchyInfo {
 margin-top:0
}
#SearchResults #EIHdrModule .hasHierarchyInfo div.header.cell,#SearchResults .eiHdrModule .hasHierarchyInfo div.header.cell {
 padding-bottom:18px
}
#SearchResults #EIHdrModule .hasHierarchyInfo div.header.cell .hierarchyInfo,#SearchResults .eiHdrModule .hasHierarchyInfo div.header.cell .hierarchyInfo {
 margin-top:-3px;
 margin-bottom:2px
}
@media only screen and (max-width: 767px) {
 #SearchResults #EIHdrModule .hasHierarchyInfo,#SearchResults .eiHdrModule .hasHierarchyInfo {
  margin-top:13px
 }
 #SearchResults #EIHdrModule .hasHierarchyInfo div.header.cell .hierarchyInfo,#SearchResults .eiHdrModule .hasHierarchyInfo div.header.cell .hierarchyInfo {
  display:none
 }
}
#EIHdrModule a.gd-btn i.btn-plus,.eiHdrModule a.gd-btn i.btn-plus {
 background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide.png?v=9ce3dc8zr");
 background-position:-137px -171px;
 width:14px;
 height:14px;
 margin-right:1ex
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 #EIHdrModule a.gd-btn i.btn-plus,.eiHdrModule a.gd-btn i.btn-plus {
  background-image:url("//www.glassdoor.com/app/static/img/core/sprites/sitewide2x.png?v=ea3015i6n");
  -webkit-background-size:233px 222px;
  background-size:233px 222px
 }
}
#EIHdrModule .empInfo .logo>.sqLogo,#EIHdrModule .empInfo .logo>.sqLogoLink,.eiHdrModule .empInfo .logo>.sqLogo,.eiHdrModule .empInfo .logo>.sqLogoLink {
 margin-top:-65px
}
@media only screen and (max-width: 767px) {
 #EIHdrModule .empInfo .logo>.sqLogo,#EIHdrModule .empInfo .logo>.sqLogoLink,.eiHdrModule .empInfo .logo>.sqLogo,.eiHdrModule .empInfo .logo>.sqLogoLink {
  margin-top:-50px
 }
}
#EIHdrModule.noblur .empInfo .logo>.sqLogo,#EIHdrModule.noblur .empInfo .logo>.sqLogoLink,.eiHdrModule.noblur .empInfo .logo>.sqLogo,.eiHdrModule.noblur .empInfo .logo>.sqLogoLink {
 margin-top:-75px
}
@media only screen and (max-width: 767px) {
 #EIHdrModule.noblur .empInfo .logo>.sqLogo,#EIHdrModule.noblur .empInfo .logo>.sqLogoLink,.eiHdrModule.noblur .empInfo .logo>.sqLogo,.eiHdrModule.noblur .empInfo .logo>.sqLogoLink {
  margin-top:-45px
 }
}
#EIHdrModule div.buttons.tbl,.eiHdrModule div.buttons.tbl {
 display:none;
 border-top:1px solid #c2c2c2;
 padding:16px 12px
}
@media only screen and (max-width: 1024px) {
 #EIHdrModule div.buttons.tbl,.eiHdrModule div.buttons.tbl {
  display:table !important
 }
}
#EIHdrModule div.buttons.tbl .gd-btn,.eiHdrModule div.buttons.tbl .gd-btn {
 display:inline-block
}
#EIHdrModule div.empLinks,.eiHdrModule div.empLinks {
 min-width:540px
}
#EIHdrModule div.empLinks.noswipe,.eiHdrModule div.empLinks.noswipe {
 min-width:inherit !important
}
#EIHdrModule div.empLinks.tbl,.eiHdrModule div.empLinks.tbl {
 width:100%;
 position:relative
}
@media only screen and (max-width: 1024px) {
 #EIHdrModule div.empLinks.tbl,.eiHdrModule div.empLinks.tbl {
  display:table !important;
  border-top:1px solid #c2c2c2
 }
}
#EIHdrModule div.empLinks.tbl .cell,.eiHdrModule div.empLinks.tbl .cell {
 cursor:pointer;
 -webkit-transition:background-color .3s linear;
 -o-transition:background-color .3s linear;
 transition:background-color .3s linear;
 padding:16px 8px;
 vertical-align:middle
}
#EIHdrModule div.empLinks.tbl .cell.eiCell,.eiHdrModule div.empLinks.tbl .cell.eiCell {
 border-bottom:3px solid #fff;
 padding-bottom:13px
}
@media only screen and (max-width: 767px) {
 #EIHdrModule div.empLinks.tbl .cell.eiCell,.eiHdrModule div.empLinks.tbl .cell.eiCell {
  padding-bottom:8px
 }
}
#EIHdrModule div.empLinks.tbl .cell.eiCell.active,.eiHdrModule div.empLinks.tbl .cell.eiCell.active {
 background-color:#fbfbfb;
 border-bottom:3px solid #00A1DF
}
#EIHdrModule div.empLinks.tbl .cell.eiCell:hover,.eiHdrModule div.empLinks.tbl .cell.eiCell:hover {
 background-color:#F1F2F2
}
#EIHdrModule div.empLinks.tbl .cell.vline,.eiHdrModule div.empLinks.tbl .cell.vline {
 padding:0;
 background:#eaeaea;
 position:absolute;
 height:80% !important;
 margin-bottom:12px;
 margin-top:12px
}
#EIHdrModule div.empLinks.tbl .cell.vline:first-child,.eiHdrModule div.empLinks.tbl .cell.vline:first-child {
 background:#fff !important;
 padding-left:16px;
 position:inherit
}
#EIHdrModule div.empLinks.tbl .cell>span,.eiHdrModule div.empLinks.tbl .cell>span {
 margin:0;
 line-height:1em;
 display:block;
 text-align:center
}
#EIHdrModule div.empLinks.tbl .cell.buttons,.eiHdrModule div.empLinks.tbl .cell.buttons {
 text-align:right
}
#EIHdrModule div.empLinks.tbl .cell.buttons .gd-btn,.eiHdrModule div.empLinks.tbl .cell.buttons .gd-btn {
 margin:0 12px 0 0
}
#EIHdrModule div.empLinks.tbl .cell.buttons .gd-btn:last-child,.eiHdrModule div.empLinks.tbl .cell.buttons .gd-btn:last-child {
 margin:0
}
#EIHdrModule div.empLinks.tbl .cell:last-child,#EIHdrModule div.empLinks.tbl .cell.eiCell:last-of-type,.eiHdrModule div.empLinks.tbl .cell:last-child,.eiHdrModule div.empLinks.tbl .cell.eiCell:last-of-type {
 border-right-width:0
}
#EIHdrModule div.empLinks.tbl a.cell,#EIHdrModule div.empLinks.tbl span.cell,.eiHdrModule div.empLinks.tbl a.cell,.eiHdrModule div.empLinks.tbl span.cell {
 text-decoration:none
}
@media only screen and (min-width: 1025px) {
 #EIHdrModule div.empLinks.tbl a.cell,#EIHdrModule div.empLinks.tbl span.cell,.eiHdrModule div.empLinks.tbl a.cell,.eiHdrModule div.empLinks.tbl span.cell {
  width:90px;
  padding:16px 4px
 }
}
@media only screen and (max-width: 1024px) {
 #EIHdrModule div.empLinks.tbl a.cell,#EIHdrModule div.empLinks.tbl span.cell,.eiHdrModule div.empLinks.tbl a.cell,.eiHdrModule div.empLinks.tbl span.cell {
  min-width:90px;
  padding:8px 0
 }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
 #EIHdrModule div.empLinks.tbl a.cell,#EIHdrModule div.empLinks.tbl span.cell,.eiHdrModule div.empLinks.tbl a.cell,.eiHdrModule div.empLinks.tbl span.cell {
  max-width:98px
 }
}
@media only screen and (max-width: 767px) {
 #EIHdrModule div.empLinks.tbl a.cell,#EIHdrModule div.empLinks.tbl span.cell,.eiHdrModule div.empLinks.tbl a.cell,.eiHdrModule div.empLinks.tbl span.cell {
  padding-left:4px;
  padding-right:4px
 }
}
#EIHdrModule div.empLinks.tbl a.cell .num,#EIHdrModule div.empLinks.tbl span.cell .num,.eiHdrModule div.empLinks.tbl a.cell .num,.eiHdrModule div.empLinks.tbl span.cell .num {
 color:#404040;
 line-height:22px;
 vertical-align:middle
}
@media only screen and (max-width: 1024px) {
 #EIHdrModule div.empLinks.tbl a.cell .num,#EIHdrModule div.empLinks.tbl span.cell .num,.eiHdrModule div.empLinks.tbl a.cell .num,.eiHdrModule div.empLinks.tbl span.cell .num {
  font-size:15px;
  color:#0d0d0d
 }
}
#EIHdrModule div.empLinks.tbl a.cell.eiCell.inactive .num,#EIHdrModule div.empLinks.tbl span.cell.eiCell.inactive .num,.eiHdrModule div.empLinks.tbl a.cell.eiCell.inactive .num,.eiHdrModule div.empLinks.tbl span.cell.eiCell.inactive .num {
 color:#7f7f7f
}
#EIHdrModule div.empLinks.tbl a.cell .subtle,#EIHdrModule div.empLinks.tbl span.cell .subtle,.eiHdrModule div.empLinks.tbl a.cell .subtle,.eiHdrModule div.empLinks.tbl span.cell .subtle {
 margin-top:4px;
 color:#1861bf
}
@media only screen and (max-width: 1024px) {
 #EIHdrModule div.empLinks.tbl a.cell .subtle,#EIHdrModule div.empLinks.tbl span.cell .subtle,.eiHdrModule div.empLinks.tbl a.cell .subtle,.eiHdrModule div.empLinks.tbl span.cell .subtle {
  margin-top:0
 }
}
#EIHdrModule a.hoverIcon,.eiHdrModule a.hoverIcon {
 position:relative;
 display:inline-block;
 top:2px;
 padding:0 12px;
 border-radius:2px;
 vertical-align:baseline
}
#EIHdrModule a.hoverIcon:hover,.eiHdrModule a.hoverIcon:hover {
 background:#F6B500
}
#EIHdrModule i.openCompany,.eiHdrModule i.openCompany {
 width:111px;
 height:17px;
 background:transparent url("//www.glassdoor.com/app/static/img/core/openCompany/oc-logo-222x34.png?v=c5ab5528u") no-repeat center;
 -webkit-background-size:111px 17px;
 background-size:111px 17px
}
#EIHdrModule .activityLevel,.eiHdrModule .activityLevel {
 cursor:pointer;
 color:#7f7f7f
}
#EIHdrModule .activityLevel .green,.eiHdrModule .activityLevel .green {
 border-bottom:1px solid #0CAA41
}
#EIHdrModule .activityLevel .red,.eiHdrModule .activityLevel .red {
 border-bottom:1px solid #7f7f7f
}
#EIHdrModule #EmployerEngagement,.eiHdrModule #EmployerEngagement {
 border-bottom:1px dotted #7f7f7f
}
#EIHdrModule .icon-alert,.eiHdrModule .icon-alert {
 width:33px;
 padding-right:15px
}
#EIHdrModule .icon-alert i,.eiHdrModule .icon-alert i {
 width:33px;
 height:29px;
 background:url("//www.glassdoor.com/app/static/img/core/icons/alert.png?v=efc8b0j0")
}
@media only screen and (min-width: 1025px) {
 #ReviewSearchResults .hr {
  margin-top:20px !important;
  margin-bottom:0 !important
 }
}
#ReviewSearchResults .adSlotJobListings>.hr {
 margin-left:-20px;
 width:calc(100% + 40px)
}
@media only screen and (min-width: 1025px) {
 #ReviewSearchResults .adSlotJobListings>.hr {
  margin-left:-16px;
  width:calc(100% + 32px)
 }
}
#ReviewSearchResults .eiHdrModule {
 padding-top:20px
}
@media only screen and (max-width: 767px) {
 #ReviewSearchResults .eiHdrModule {
  padding-top:0
 }
}
#ReviewSearchResults .eiHdrModule div.empInfo.tbl .cell {
 padding:0 20px 20px 0;
 vertical-align:top
}
@media only screen and (max-width: 767px) {
 #ReviewSearchResults .eiHdrModule div.empInfo.tbl .cell {
  padding:0 16px 16px 0
 }
}
#ReviewSearchResults .eiHdrModule div.empInfo.tbl div.logo.cell {
 padding:0 20px
}
@media only screen and (max-width: 767px) {
 #ReviewSearchResults .eiHdrModule div.empInfo.tbl div.logo.cell {
  padding:0 16px 16px 16px
 }
}
#ReviewSearchResults .eiHdrModule div.empInfo.tbl div.header.cell {
 vertical-align:top
}
#ReviewSearchResults .eiHdrModule div.empInfo.tbl div.header.cell a {
 font-weight:bold
}
#ReviewSearchResults .eiHdrModule .empInfo .logo>.sqLogo,#ReviewSearchResults .eiHdrModule .empInfo .logo>.sqLogoLink {
 margin-top:0
}
#ReviewSearchResults .eiHdrModule div.empLinks.tbl {
 border-bottom:1px solid #c2c2c2
}
#ReviewSearchResults .eiHdrModule div.empLinks.tbl span.cell {
 width:auto;
 max-width:none
}
#ReviewSearchResults .eiHdrModule div.empLinks.tbl span.cell.eiCell {
 width:90px;
 max-width:90px
}
#ReviewSearchResults .eiHdrModule .bigRating {
 color:#0CAA41;
 line-height:0
}
#ReviewSearchResults .eiHdrModule #EmpHero {
 border-top:1px solid #c2c2c2;
 position:relative
}
#ReviewSearchResults .eiHdrModule .reviewSnip .reviewSummary .seeAll a {
 white-space:nowrap
}
@media only screen and (max-width: 767px) {
 #ReviewSearchResults .eiHdrModule #EmpHero,#ReviewSearchResults .eiHdrModule div.empLinks.tbl {
  width:calc(100% + 32px) !important;
  margin-left:-16px !important
 }
 #ReviewSearchResults .eiHdrModule div.empInfo.tbl div.logo.cell {
  padding-left:0 !important
 }
}
.headerMoreLink {
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 position:relative
}
.headerMoreLink .subtle {
 color:#1861bf
}
.headerMoreLink.active ul,.headerMoreLink:hover ul {
 opacity:1;
 visibility:visible
}
.headerMoreLink.menu:hover {
 background-color:#fff
}
.headerMoreLink ul.selectboxit-options li i.selectboxit-option-icon {
 margin-right:2px
}
.headerMoreLink ul.selectboxit-options li .selectboxit-option-anchor {
 padding:12px 24px;
 height:auto;
 line-height:1em;
 color:#404040
}
@media only screen and (max-width: 1024px) {
 .headerMoreLink ul.selectboxit-options li .selectboxit-option-anchor {
  padding:16px;
  font-size:15px ;
  font-size:1rem 
 }
}
.headerMoreLink ul.selectboxit-options li .selectboxit-option-anchor:hover {
 color:#404040;
 text-decoration:none
}
.headerMoreLink .selectboxit-options li .selectboxit-disabled .selectboxit-option-anchor:hover {
 color:#7f7f7f;
 background:none;
 -webkit-filter:none;
 filter:none;
 text-shadow:none
}
.headerMoreLink .selectboxit-options .selectboxit-disabled a,.headerMoreLink .selectboxit-options .selectboxit-disabled span {
 color:#7f7f7f
}
.headerMoreLink .selectboxit-option .selectboxit-option-anchor:hover,.headerMoreLink .selectboxit-disabled .selectboxit-option-anchor:hover {
 color:white
}
.headerMoreLink i {
 height:0;
 width:0;
 border-color:transparent;
 border-style:solid;
 border-width:7px;
 border-top-color:#1861bf;
 top:3px;
 position:relative;
 left:4px
}
.headerMoreLink ul {
 position:absolute;
 visibility:hidden;
 z-index:1000;
 background-color:white;
 border:1px solid #eaeaea !important;
 border-radius:2px;
 -webkit-box-shadow:0 1px 1px 1px rgba(127,127,127,0.3);
 box-shadow:0 1px 1px 1px rgba(127,127,127,0.3);
 text-align:left;
 cursor:pointer;
 left:-1px
}
.headerMoreLink ul.admin {
 left:0px;
 top:21px
}
.headerMoreLink ul li {
 margin:0
}
.headerMoreLink ul li a {
 display:block;
 padding:12px 16px;
 vertical-align:middle;
 text-align:left;
 white-space:nowrap
}
.headerMoreLink ul:before {
 content:'';
 position:absolute;
 top:12px;
 z-index:50000;
 height:1px;
 cursor:pointer;
 background:#fff
}
#EmpHero:hover div.featured-video {
 background-color:rgba(0,0,0,0.7)
}
.featured-video-wrapper {
 background-color:#000
}
div.featured-video {
 -webkit-transition:background-color 1s;
 -o-transition:background-color 1s;
 transition:background-color 1s;
 position:absolute;
 z-index:2;
 cursor:pointer;
 margin:auto;
 top:0;
 right:0;
 left:0;
 bottom:0;
 border-radius:50%;
 background-color:rgba(0,0,0,0.3);
 height:84px;
 width:84px
}
div.featured-video:after {
 content:'';
 width:0;
 height:0;
 border-style:solid;
 border-width:23px 0 23px 39px;
 border-color:transparent transparent transparent #ffffff;
 position:absolute;
 top:50%;
 left:50%;
 -webkit-transform:translate(-50%, -50%);
 -ms-transform:translate(-50%, -50%);
 -o-transform:translate(-50%, -50%);
 transform:translate(-50%, -50%);
 margin-left:6.5px
}
@media only screen and (max-width: 767px) {
 div.featured-video {
  height:38px;
  width:38px
 }
 div.featured-video:after {
  border-width:11.5px 0 11.5px 19px;
  margin-left:5px
 }
}
div.featured-video.sm {
 height:38px;
 width:38px
}
div.featured-video.sm:after {
 border-width:11.5px 0 11.5px 19px;
 margin-left:5px
}
#EmpHero {
 position:relative;
 min-height:59px;
 max-height:185px;
 font-size:0
}
#EmpHero.content {
 cursor:pointer
}
#EmpHero img {
 width:100%;
 height:auto;
 max-height:185px
}
#EmpHero.blurred {
 display:block !important;
 overflow:hidden;
 height:63px
}
#EmpHero.blurred>img {
 width:calc(100% + 20px);
 margin:-10px
}
#EmpHero.noVideo:hover #EmpHeroPhotoLink {
 font-size:15px;
 background:rgba(0,0,0,0.7);
 text-shadow:2px 2px 5px #000;
 text-decoration:underline
}
#EmpHero .sqLogoLink {
 display:none;
 position:absolute;
 top:0;
 left:0;
 height:100%;
 padding:1.5%
}
#EmpHero .sqLogoLink>div {
 position:relative;
 height:100%
}
#EmpHero .sqLogoLink>div a {
 z-index:3;
 position:absolute;
 bottom:0;
 height:100%;
 max-height:72px
}
#EmpHero .sqLogoLink>div .sqLogo {
 height:100%;
 width:100%;
 padding:0;
 background:none;
 border:none
}
#EmpHero .sqLogoLink>div .sqLogo>img,#EmpHero .sqLogoLink>div .sqLogo>span {
 height:100%;
 width:auto;
 max-height:none;
 border:1px solid #fff;
 -webkit-filter:none;
 filter:none;
 margin-top:0;
 margin-left:0
}
#EmpHero .sqLogoLink>div .sqLogo>span {
 border:none;
 line-height:50px;
 width:50px;
 height:50px
}
#EmpHero .sqLogoLink>div .sqLogo>span>i {
 -webkit-transform:scale(0.7);
 -ms-transform:scale(0.7);
 -o-transform:scale(0.7);
 transform:scale(0.7)
}
#EmpHero.blurred .sqLogoLink {
 padding:12px
}
#EI #EmpHero .sqLogoLink {
 display:block
}
#EmpHeroPhotoLink {
 display:block;
 position:absolute;
 right:16px;
 top:16px;
 padding:12px;
 white-space:nowrap;
 color:#fff !important;
 cursor:pointer;
 border-radius:4px;
 z-index:15;
 text-align:center;
 background:rgba(0,0,0,0.3);
 -webkit-transition:all .3s;
 -o-transition:all .3s;
 transition:all .3s
}
#EmpHeroPhotoLink:hover {
 background:rgba(0,0,0,0.7);
 text-shadow:2px 2px 5px #000;
 text-decoration:underline
}
#EmpHeroPhotoLink span {
 font-weight:normal;
 line-height:1em
}
@media only screen and (max-width: 767px) {
 #EmpHeroPhotoLink {
  display:none
 }
}
.srchNavContainer .srchNavBar {
 font-size:0
}
.srchNavContainer .srchNavBar>span,.srchNavContainer .srchNavBar>a {
 display:inline-block;
 margin:0;
 padding:12px 16px;
 font-size:15px;
 line-height:1em;
 vertical-align:middle
}
@media only screen and (max-width: 767px) {
 .srchNavContainer .srchNavBar>span,.srchNavContainer .srchNavBar>a {
  padding:7px
 }
}
.srchNavContainer .srchNavBar>span {
 background-color:#F1F2F2
}
body.lang-fr .srchNavContainer .postAJobUpsell a.mmLink {
 display:block
}
#SearchResults .appPromoBannerWrapper {
 margin:-16px -16px 16px -16px
}
.searchFeedbackRequest {
 padding:10px;
 border-bottom:1px solid #ddd;
 background:#26bf26;
 background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2YmYyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #26bf26), color-stop(0%, #fff), color-stop(100%, #efefef));
 background:-webkit-linear-gradient(to top, #26bf26 0%, #fff 0%, #efefef 100%);
 background:-webkit-gradient(linear, left top, left bottom, from(#26bf26), color-stop(0%, #fff), to(#efefef));
 background:-webkit-linear-gradient(top, #26bf26 0%, #fff 0%, #efefef 100%);
 background:-o-linear-gradient(top, #26bf26 0%, #fff 0%, #efefef 100%);
 background:linear-gradient(to bottom, #26bf26 0%, #fff 0%, #efefef 100%);
 filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#efefef',GradientType=0 )
}
.searchFeedbackRequest .formWrapper .background {
 position:absolute;
 top:0;
 left:0;
 width:620px;
 height:20px;
 min-height:20px;
 background:#26bf26;
 background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2YmYyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
 background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #26bf26), color-stop(0%, #fff), color-stop(100%, #efefef));
 background:-webkit-linear-gradient(to top, #26bf26 0%, #fff 0%, #efefef 100%);
 background:-webkit-gradient(linear, left top, left bottom, from(#26bf26), color-stop(0%, #fff), to(#efefef));
 background:-webkit-linear-gradient(top, #26bf26 0%, #fff 0%, #efefef 100%);
 background:-o-linear-gradient(top, #26bf26 0%, #fff 0%, #efefef 100%);
 background:linear-gradient(to bottom, #26bf26 0%, #fff 0%, #efefef 100%);
 filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#26bf26', endColorstr='#efefef',GradientType=0 )
}
.searchFeedbackRequest .formWrapper .foreground {
 position:relative
}
.searchFeedbackRequest .formWrapper form {
 margin-top:5px
}
.searchFeedbackRequest .formWrapper textarea {
 min-width:100%;
 max-width:100%;
 margin:5px 0
}
.searchFeedbackRequest.plain {
 background:#fff;
 border-bottom:none;
 padding:0
}
@media only screen and (max-width: 767px) {
 .filteredLocationName {
  margin-top:8px;
  padding-left:0;
  padding-right:0
 }
}
.srchFilter,.srchFilter * {
 -webkit-box-sizing:border-box;
 box-sizing:border-box
}
.srchFilter.fill {
 width:calc(100% + 32px)
}
.srchFilter .openingForm {
 background:#F1F2F2;
 border-bottom:1px solid #c2c2c2;
 border-top:1px solid #c2c2c2;
 -webkit-box-shadow:inset 0 2px 9px -7px rgba(0,0,0,0.4);
 box-shadow:inset 0 2px 9px -7px rgba(0,0,0,0.4);
 margin-left:-16px;
 width:calc(100% + 32px)
}
#EISalaries .srchFilter .openingForm,#SalarySearchResults .srchFilter .openingForm {
 margin-left:0;
 width:100%
}
.srchFilter .openingForm.hideAfterSelectBoxIt {
 position:fixed;
 left:-9999px
}
.srchFilter .basicForm .btn.col,.srchFilter .basicForm .sorts.col {
 display:inline-block;
 vertical-align:middle;
 font-size:15px
}
.srchFilter .basicForm i.valignHelper {
 width:0;
 height:35px;
 vertical-align:middle
}
.srchFilter .basicForm .sorts.col {
 text-align:right
}
.srchFilter .basicForm.noBorder {
 border:none
}
@media only screen and (max-width: 1024px) {
 .srchFilter .basicForm h2,.srchFilter .basicForm .btn.col {
  display:inline-block
 }
 .srchFilter .basicForm h2 {
  width:60%
 }
 .srchFilter .basicForm .btn.col {
  width:37%
 }
 .srchFilter .basicForm .btn.col {
  text-align:right
 }
 .srchFilter .basicForm i.valignHelper {
  display:none
 }
 .srchFilter .basicForm .sorts.col {
  display:block;
  width:100%;
  text-align:left
 }
}
@media only screen and (max-width: 1024px) {
 .srchFilter .eiFilterForm .col,.srchFilter .srchFilterForm .col {
  padding:0 0 16px 0;
  float:none;
  display:block;
  width:100%
 }
 .srchFilter .eiFilterForm .col:last-child,.srchFilter .srchFilterForm .col:last-child {
  padding:0
 }
}
.srchFilter .eiFilterForm input[type='checkbox'] {
 margin-right:12px
}
@media only screen and (max-width: 1024px) {
 .srchFilter .eiFilterForm .gd-btn {
  padding-left:16px;
  padding-right:16px
 }
}
.srchFilter span#FilterLocationSelectBoxItText {
 max-width:100% !important
}
.exploreCareers nav i,.topInterviewQuestions nav i {
 cursor:pointer
}
.exploreCareers .arrowSm.disabled,.topInterviewQuestions .arrowSm.disabled {
 cursor:default
}
.exploreCareers .list,.exploreCareers .exploreCareersList,.topInterviewQuestions .list,.topInterviewQuestions .exploreCareersList {
 padding:0;
 width:100%;
 list-style:none
}
.exploreCareers .list li,.exploreCareers .exploreCareersList li,.topInterviewQuestions .list li,.topInterviewQuestions .exploreCareersList li {
 white-space:normal;
 font-size:0;
 margin:14px 0
}
.exploreCareers .list li:first-of-type,.exploreCareers .exploreCareersList li:first-of-type,.topInterviewQuestions .list li:first-of-type,.topInterviewQuestions .exploreCareersList li:first-of-type {
 margin-top:0
}
.exploreCareers .list li:last-of-type,.exploreCareers .exploreCareersList li:last-of-type,.topInterviewQuestions .list li:last-of-type,.topInterviewQuestions .exploreCareersList li:last-of-type {
 margin-bottom:0
}
.exploreCareers .salaryInfo a,.topInterviewQuestions .salaryInfo a {
 color:inherit
}
#jobsAwareness {
 position:fixed;
 z-index:2999;
 -webkit-transition:0.5s ease all;
 -o-transition:0.5s ease all;
 transition:0.5s ease all;
 right:-360px;
 top:auto;
 bottom:0;
 width:360px;
 height:700px;
 -webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.5);
 box-shadow:0px 0px 20px 0px rgba(0,0,0,0.5);
 overflow:hidden;
 background:#fff
}
#jobsAwareness .content {
 background:-webkit-gradient(linear, left top, left bottom, color-stop(80%, #fff), to(rgba(255,255,255,0)));
 background:-webkit-linear-gradient(top, #fff 80%, rgba(255,255,255,0) 100%);
 background:-o-linear-gradient(top, #fff 80%, rgba(255,255,255,0) 100%);
 background:linear-gradient(to bottom, #fff 80%, rgba(255,255,255,0) 100%);
 text-align:center;
 padding-top:12px;
 padding-bottom:16px;
 position:relative;
 z-index:6
}
#jobsAwareness .content h2 {
 font-size:32px;
 font-weight:bold;
 margin-bottom:28px;
 padding:0 28px;
 line-height:1.25
}
#jobsAwareness .content svg {
 margin-top:30px;
 margin-bottom:10px
}
#jobsAwareness .midImg {
 background:white no-repeat 0 100%;
 width:360px;
 height:515px;
 margin-top:-75px;
 position:relative;
 z-index:5
}
#jobsAwareness .midImg.promoA {
 background-image:url(//www.glassdoor.com/app/static/img/takeover/promo-A.jpg?v=fef5e6brr)
}
#jobsAwareness .midImg.promoB {
 background-image:url(//www.glassdoor.com/app/static/img/takeover/promo-B.jpg?v=1282df9gg)
}
#jobsAwareness .midImg.promoC {
 background-image:url(//www.glassdoor.com/app/static/img/takeover/promo-C.jpg?v=bc7dabbhk)
}
#jobsAwareness .midImg.promoD {
 background-image:url(//www.glassdoor.com/app/static/img/takeover/promo-D.jpg?v=b58606d6o)
}
#jobsAwareness .midImg.empPromo-a {
 background-image:url(//www.glassdoor.com/app/static/img/takeover/emp-promo-A.jpg?v=ab0b9camd)
}
#jobsAwareness .midImg.empPromo-b {
 background-image:url(//www.glassdoor.com/app/static/img/takeover/emp-promo-B.jpg?v=ab0b9camd)
}
#jobsAwareness .midImg.empPromo-c {
 background-image:url(//www.glassdoor.com/app/static/img/takeover/emp-promo-C.jpg?v=c8d9338gv)
}
#jobsAwareness .midImg.empPromo-d {
 background-image:url(//www.glassdoor.com/app/static/img/takeover/emp-promo-D.jpg?v=c8d9338gv)
}
#jobsAwareness .midImg.empPromo-e {
 background-image:url(//www.glassdoor.com/app/static/img/takeover/emp-promo-E.jpg?v=c8d9338gv);
 margin-top:16px
}
#jobsAwareness .midImg.empPromo-f {
 background-image:url(//www.glassdoor.com/app/static/img/takeover/emp-promo-F.jpg?v=813437cj5)
}
#jobsAwareness .midImg.empPromo-g {
 background-image:url(//www.glassdoor.com/app/static/img/takeover/emp-promo-G.jpg?v=9e335ee1d)
}
#jobsAwareness #knownTitleBtn {
 margin-top:20px
}
#jobsAwareness form input {
 border-radius:0
}
#jobsAwareness form #JobAwarenessButton {
 padding:0
}
#jobsAwareness form #JobAwarenessButton span {
 background-image:url(//www.glassdoor.com/app/static/img/home/icon-search-white.svg?v=45f04c1x6);
 background-position:center center;
 background-repeat:no-repeat;
 border-radius:0;
 width:60px;
 height:40px;
 display:inline-block
}
@media screen and (max-height: 700px) {
 #jobsAwareness {
  background:#fff;
  height:360px
 }
 #jobsAwareness .midImg {
  display:none
 }
}
