﻿<article class="employers">
    <section class="worker-header light-gray" ng-repeat="company in company">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img src="img/tnw.png" class="employer-pic" alt="">
                    <ul class="social text-left">
                        <li>
                            <a href="#" class="social-link
						twitter"><i class="fa fa-twitter"></i>Twitter</a>
                        </li>
                        <li>
                            <a href="#" class="social-link
						facebook"><i class="fa fa-facebook"></i>Facebook</a>
                        </li>
                        <li>
                            <a href="#" class="social-link
						google-plus"><i class="fa fa-google-plus-square"></i>Google Plus</a>
                        </li>
                        <li>
                            <a href="#" class="social-link
						link"><i class="fa fa-chain"></i>thenextweb.com</a>
                        </li>
                    </ul> 
                </div>
                <div class="col-md-6">
                    <h3>{{company.CompanyName}}</h3>
                    <h5>{{company.Website}}</h5>
                    <p><i class="fa fa-map-marker"></i> {{company.State}}, {{company.Country}}</p>
                    <p>Phone #: {{company.Phone}}</p>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#/profile?id={{company.CompanyID}}" class="btn blue no-margin">View Company</a>
                            <button type="button" ng-click="AddReviewGetCompanyData(company.CompanyID)" data-toggle="modal" data-target="#myModal" class="btn blue no-margin">Add Review</button>
                            <p>{{company.Description}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-6 text-center">
                        <h6 class="alt">Members</h6>
                        <h2>21</h2>
                    </div>
                    <div class="col-md-6 text-center">
                        <h6 class="alt">Followers</h6>
                        <h2>30141</h2>
                    </div>
                    <div class="col-md-12 text-center">
                        <h6 class="alt">Jobs</h6>
                        <a href="#" class="tag">Marketing Manager</a>
                        <a href="#" class="tag">Wordpress Developer</a>
                        <a href="#" class="tag">UX / UI Designer</a>
                        <a href="#" class="tag">Product Designer</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</article>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" ng-controller="IndexController">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Review for: {{CompanyName}}</h4>
            </div>
            <div class="modal-body">
                <form name="form" class="contact-form" g-submit="submitForm(Form.$valid)" ng-controller="saveReview" ng-submit="submit(form.$valid)">
                    <div>
                        <input class="form-control" id="name" data-ng-model="review.Name" type="text" placeholder="Your Name" required>
                    </div>
                    <div>
                        <input class="form-control" id="Profession" data-ng-model="review.Profession" type="text" placeholder="Your Profession" required>
                    </div>
                    <div>
                        <textarea data-ng-model="review.Comments" class="form-control" placeholder="Type your Review" data-ng-required required></textarea>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" id="submit" value="Submit" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue no-margin" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

