﻿<footer>
    <div class="row bottom no-padding no-margin; " >
        <div class="container">
            <div class="col-md-12 no-padding text-left column-bottom">
                <p>Copyright &copy; <span class="blue-color">Summitworsk C# Team </span> | All right reserved</p>
            </div>
        </div>
    </div>
</footer>