﻿<header>
    <form class="col-md-3 col-md-offset-3 col-sm-6 col-xs-12 job-form" style="visibility:hidden">
        <h3>Go Cravious for your next short-term job <i class="fa fa-arrow-right small-icon"></i></h3>
        <input type="text" class="form-control white" placeholder="Keyword e.g. (Job Title, Description)">
        <input type="text" class="form-control white" placeholder="Location e.g. (Postal Code, Zip... )">
        <div class="col-md-6 no-padding">
            <a href="#" class="dropdown-input white">Time of day</a>
            <ul class="dropdown">
                <li><a href="#">Morning</a></li>
                <li><a href="#">Noon</a></li>
                <li><a href="#">Afternoon</a></li>
            </ul>
        </div>
        <div class="col-md-6 no-padding">
            <a href="#" class="dropdown-input white">Weekday</a>
            <ul class="dropdown">
                <li><a href="#">Monday</a></li>
                <li><a href="#">Tuesday</a></li>
                <li><a href="#">Wendsday</a></li>
                <li><a href="#">Thursday</a></li>
                <li><a href="#">Friday</a></li>
                <li><a href="#">Saturday</a></li>
                <li><a href="#">Sunday</a></li>
            </ul>
        </div>
        <button type="submit" class="btn dark-red">
            Search for a job <i class="fa fa-chevron-right"></i>
        </button>
    </form>
    <div class="owl-carousel owl-header">
        <div class="item" data-background="img/header.jpg"></div>
        <div class="item" data-background="../img/header2.jpg"></div>
        <div class="item" data-background="../img/header3.jpg"></div>
    </div>
</header>