﻿<head>
    <meta charset="UTF-8">
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="../../Scripts/angular-route.min.js"></script>

    <script src="../../Scripts/angular-route.js"></script>
    <script src="../../Scripts/angular.js"></script>
    <script src="../js/myJS.js"></script>

    <script src="../../js/jquery-1.11.1.min.js"></script>
    <script src="../js/smoothWheel.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/owl.carousel.js"></script>
    <script src="../js/jquery.prettyPhoto.js"></script>
    <script src="../js/images-loaded.js"></script>
    <script src="../js/jquery.count.js"></script>
    <script src="../js/knobify.js"></script>
    <script src="../js/isotope.js"></script>
    <script src="../js/main.js"></script>

</head>

<section class="facts">
    <div class="container">
        <div class="row text-center" ng-controller="IndexController">
            
            <div class="col-md-3 col-sm-6 fact" >
                <span class="number">{{TotalJobs}}</span> Jobs Found
            </div>
            <div class="col-md-3 col-sm-6 fact" >
                <span class="number">{{TotalCompanies}}</span> Awesome Companies
            </div>
            <div class="col-md-3 col-sm-6 fact" >
                <span class="number">{{TotalReviews}}</span> Reviews
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="../login.html" class="btn red no-margin">Company Login / Register <i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>





<!--<section>
    <div class="container">
        <div class="row title text-center">
            <h3>Testimonial Clients</h3>
            <h6 class="alt">What our client says</h6>
        </div>
        <div class="row" ng-repeat="review in reviewsIndex">
            <div class="owl-testimonials">
                <div class="text-center">
                    <div class="testimonial-box">
                        <p>{{review.Comments}}</p>
                    </div>
                    <h4>{{review.Name}}</h4>
                    <h5 class="alt">{{review.Profession}}</h5>
                    <h5 class="alt">Job: {{review.JobName}}  / Company: {{review.CompanyName}}</h5>
                </div>
            </div>
        </div>
    </div>
</section>-->

