﻿<section>
    <div class="container">
        <div class="row text-left no-margin">
            <h3 class="small-margin">Find good a Job</h3>
            <h6 class="alt small-margin">Your job for the future</h6>
        </div>
        <div class="row">
            <div ng-controller="IndexController" class="col-md-12">
                <p class="blue-color">{{TotalJobs}} Jobs Found</p>
                <div class="tabs-container">
                    <div class="tab-nav">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#tab1">Jobs</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content tab-holder">
                        <div ng-controller="IndexController" class="tab tab-pane fade in active" id="tab1">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Company</th>
                                            <th>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            </th>
                                            <th>Job Name</th>
                                            <th>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            </th>
                                            <th>Description</th>
                                            <th>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            </th>
                                            <th>Date Posted</th>
                                            <th>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            </th>
                                            <th>City</th>
                                            <th>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            </th>
                                            <th>Country</th>
                                            <th>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            </th>
                                            <th>State</th>
                                            <th>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            </th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="jobs in jobs" ng-class="{'selected':$index == selectedRow}">
                                            <td>
                                                <span data-ng-hide="editMode" data-ng-model="Company">{{jobs.Company}}</span>
                                                <span data-ng-show="editMode" data-ng-model="Company">{{jobs.Company}}</span>
                                            </td>
                                            <td>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            </td>
                                            <td>
                                                <span data-ng-hide="editMode" data-ng-model="JobName">{{jobs.JobName}}</span>
                                                <input class="form-control" type="text" data-ng-show="editMode" data-ng-model="jobs.JobName" data-ng-required />
                                            </td>
                                            <td>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            </td>
                                            <td>
                                                <span data-ng-hide="editMode" data-ng-model="JobDescription">{{jobs.JobDescription}}</span>
                                                <textarea data-ng-model="jobs.JobDescription" data-ng-show="editMode" class="form-control" data-ng-required required></textarea>
                                            </td>
                                            <td>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            </td>
                                            <td>
                                                <span data-ng-hide="editMode" data-ng-model="DateCreated">{{jobs.DateCreated2}}</span>
                                                <span data-ng-show="editMode" data-ng-model="DateCreated">{{jobs.DateCreated2}}</span>
                                            </td>
                                            <td>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            </td>
                                            <td>
                                                <span data-ng-hide="editMode" data-ng-model="City">{{jobs.City}}</span>
                                                <input class="form-control" type="text" data-ng-show="editMode" data-ng-model="jobs.City" data-ng-required />
                                            </td>
                                            <td>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            </td>
                                            <td>
                                                <span data-ng-model="Country">{{jobs.Country}}</span>
                                                <!--select ng-controller="ListCountriesController" data-ng-show="editMode" class="form-control" data-ng-model="jobs.CountryID" ng-options="c.CountryID as c.Country1 for c in country" ng-change="viewState(jobs.CountryID)" required>
                                                    <option value=''>--Select Country--</option>
                                                </select-->

                                            </td>
                                            <td>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            </td>
                                            <td>
                                                <span data-ng-model="Country">{{jobs.State}}</span>
                                                <!--select ng-controller="ListJobsController" class="form-control" data-ng-show="editMode" data-ng-model="jobs.StateID" ng-options="s.StateID as s.State1 for s in state" required>
                                                    <option value=''>--Select State--</option>
                                                </select-->
                                            </td>
                                            <th>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                            </th>
                                            <th>
                                                <button type="button" ng-click="viewJob(jobs.JobID)" data-toggle="modal" data-target="#myModal" class="btn blue no-margin">View Job</button>
                                            </th>
                                          


                                        </tr>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-right">
                                <a href="job_search.html"><i class="fa fa-angle-double-right"></i> see all jobs</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Job Details</h4>
            </div>
            <div class="modal-body">
                <p><b>Job Name:</b> {{JobName}} </p>
                <p><b>Job Description: </b>{{JobDescription}} </p>
                <p><b>Company: </b>{{Company}} </p>
                <p><b>Date Posted: </b>{{DateCreated}} </p>
                <p><b>Address: </b>{{Address}} </p>
                <p><b>City: </b>{{City}} </p>
                <p><b>Country: </b>{{Country}} </p>
                <p><b>State: </b>{{State}} </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>