﻿<head>  
    <script src="../../Scripts/angular-route.min.js"></script>
    <script src="../../Scripts/angular-route.js"></script>
    <script src="../../Scripts/angular.js"></script>
    <script src="../js/myJS.js"></script>
</head>
<nav class="navbar navbar-default navbar-fixed-top" ng-app="myApp">
    <div class="container">
        <div class="navbar-top text-right">

            <div social-dir></div>

        </div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <!--a class="navbar-brand" href="#"><img src="img/logo.png" alt=""></a-->
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#/home">Home</a></li>
                <li class="dropdown active">
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jobs<span class="caret"></span></a>
                    <ul class="dropdown-menu animated pulse" role="menu">
                        <li><a href="#/jobs">All Jobs</a></li>
                    </ul>
                </li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Employers <span class="caret"></span></a>
                    <ul class="dropdown-menu animated pulse" role="menu">
                        <li><a href="#/employers">Search Employers</a></li>
                    </ul>
                </li>
                <li><a href="#/contact">Contact</a></li>
                <li><a href="#/login">Login / Register</a></li>

            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>

