﻿<div class="social">
    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a>
    <a href="#" class="vine"><i class="fa fa-vine"></i></a>
    <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
</div>