﻿<div ng-repeat="review in companyReviews">

    <div class="card" style="width: 70rem;">
        <div class="card-header">
            {{review.JobName}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Rating - <b>{{review.Rating}}</b>
            </li>
            <li class="list-group-item">written by <b>{{review.Author}}</b> - {{review.Comments}}</li>
            <li class="list-group-item">reply: {{review.Reply}}</li>
        </ul>
    </div>
    <br />
</div>