﻿
<body class="fixed-nav sticky-footer bg-dark" id="page-top" ng-app="myApp">
    <!-- Navigation-->
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>

            <!-- Analysis Chart Example-->


            <div ng-repeat="companyJob in companyJobs" ng-model="companyJob">
                <div class="card">
                    <div class="card-header">
                        {{companyJob.Name}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{companyJob.City}}, {{companyJob.State}}, {{companyJob.Country}}</h5>
                        <p class="card-text">{{companyJob.Description}}</p>
                        <p class="card-text">Post Date: {{companyJob.DateCreated}}</p>
                    </div>
                </div>
                <br />
            </div>





        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Your Website 2018</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        








    </div>
</body>

</html>
