﻿<div class="card text-center">
    <div class="card-header">
        <label for="companyID">Company ID: </label>
        <span id="companyID">{{companyInfo[0].CompanyID}}</span>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <span id="companyName">{{companyInfo[0].Name}}</span>
        </h5>
        <p class="card-text">{{companyInfo[0].Address}}, {{companyInfo[0].City}}, {{companyInfo[0].State}}, {{companyInfo[0].Country}}</p>
        <p class="card-text">
            <label for="phone">Phone Number: </label>
            <span id="phone">{{companyInfo[0].Phone}}</span>
        </p>
        <p class="card-text">
            <label for="website">Website: </label>
            <span id="website">{{companyInfo[0].Website}}</span>
        </p>
        <label for="type">Company Type: </label>
        <span id="type">{{companyInfo[0].Type}}</span>
        <br />
        <label for="sector">Company Sector: </label>
        <span id="sector">{{companyInfo[0].Sector}}</span>
        <br />
        <label for="status">Company Status: </label>
        <span id="status">{{companyInfo[0].Status}}</span>
        <br />
        <a href="#/jobs2" class="btn btn-primary">View all jobs</a>
    </div>
    <div class="card-footer text-muted">
        <label for="contactName">Contact Name: </label>
        <span id="contactName">{{companyInfo[0].ContactName}}</span>
        <br />
        <label for="userName">Username: </label>
        <span id="userName">{{companyInfo[0].Username}}</span>
        <br />
        <label for="email">Email: </label>
        <span id="email">{{companyInfo[0].Email}}</span>
    </div>
</div>







