﻿<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Index", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>