﻿<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet">

    <script src="../Scripts/angular.js"></script>
    <script src="../js/jobs.js"></script>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->

    <div menu-dir2></div>

    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Jobs</a>
                </li>
                <li class="breadcrumb-item active">Posted Jobs</li>
            </ol>
            <!-- Example DataTables Card-->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Posted Jobs
                </div>
                <div class="card-body">
                    <div class="table-responsive" ng-controller="ListJobsController">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>ID</th>
                                    <th>Job Name</th>
                                    <th>Description</th>
                                    <th>Company</th>
                                    <th>Date Posted</th>
                                    <th>City</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Index</th>
                                    <th>ID</th>
                                    <th>Job Name</th>
                                    <th>Description</th>
                                    <th>Company</th>
                                    <th>Date Posted</th>
                                    <th>City</th>
                                    <th>Country</th>
                                    <th>State</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr ng-repeat="jobs in jobs" ng-class="{'selected':$index == selectedRow}">
                                    <td>
                                        {{$index}}
                                    </td>
                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="JobID">{{jobs.JobID}}</span>
                                        <span data-ng-show="editMode" data-ng-model="JobID">{{jobs.JobID}}</span>
                                    </td>
                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="JobName">{{jobs.JobName}}</span>
                                        <span data-ng-show="editMode" data-ng-model="JobName">{{jobs.JobName}}</span>
                                    </td>
                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="JobDescription">{{jobs.JobDescription}}</span>
                                        <span data-ng-show="editMode" data-ng-model="JobDescription">{{jobs.JobDescription}}</span>
                                    </td>
                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="Company">{{jobs.Company}}</span>
                                        <span data-ng-show="editMode" data-ng-model="Company">{{jobs.Company}}</span>
                                    </td>

                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="DateCreated">{{jobs.DateCreated}}</span>
                                        <span data-ng-show="editMode" data-ng-model="DateCreated">{{jobs.DateCreated}}</span>
                                    </td>

                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="City">{{jobs.City}}</span>
                                        <span data-ng-show="editMode" data-ng-model="City">{{jobs.City}}</span>
                                    </td>

                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="Country">{{jobs.Country}}</span>
                                        <span data-ng-show="editMode" data-ng-model="Country">{{jobs.Country}}</span>
                                    </td>

                                    <td>
                                        <span data-ng-hide="editMode" data-ng-model="Country">{{jobs.State}}</span>
                                        <span data-ng-show="editMode" data-ng-model="Country">{{jobs.State}}</span>
                                    </td>

                                    <td><button type="button" ng-click="viewJob(jobs.JobID)" data-toggle="modal" data-target="#myModal" class="btn btn-default">View Job</button></td>

                                </tr>
                                

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog" >
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Job Details</h4>
                    </div>
                    <div class="modal-body">
                        <p><b>Job Name:</b> {{JobName}} </p>
                        <p><b>Job Description: </b>{{JobDescription}} </p>
                        <p><b>Company: </b>{{Company}} </p>
                        <p><b>Date Posted: </b>{{DateCreated}} </p>
                        <p><b>Address: </b>{{Address}} </p>
                        <p><b>City: </b>{{City}} </p>
                        <p><b>Country: </b>{{Country}} </p>
                        <p><b>Country: </b>{{State}} </p>
                    </div>
                    <div class="modal-footer" ng-controller="ListJobsController">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <!-- Bootstrap core JavaScript-->
        <script src="../vendor/jquery/jquery.min.js"></script>
        <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="../vendor/datatables/jquery.dataTables.js"></script>
        <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="../js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="../js/sb-admin-datatables.min.js"></script>
    </div>
</body>
</html>
