﻿<div id="landing-header">
    <img src="https://pbs.twimg.com/media/DgMcZY7UEAIhERj.jpg" alt="Smiley face" height="671" width="1200">
</div>

<div class="jumbotron">
    <h1 class="display-4">Hello, welcome to Company Dashboard!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="info" role="button">Company Info</a>
    </p>
</div>


